apiVersion: v1
kind: ConfigMap
metadata:
  name: amd-pytorch-job-template
  namespace: {{ .Release.Namespace }}
  labels:
    group: kubeflow.org
    version: v1
    kind: PyTorchJob
  annotations:
    primus-safe.gpu.resource.name: "amd.com/gpu"
    # The main container name should match the configuration defined in the template below
    primus-safe.main.container: pytorch
data:
 template: |
    apiVersion: kubeflow.org/v1
    kind: PyTorchJob
    spec:
      pytorchReplicaSpecs:
        Master:
          restartPolicy: Never
          template:
            spec:
              dnsPolicy: ClusterFirstWithHostNet
              initContainers:
                - name: preprocess
                  image: {{ .Values.repository }}/preprocess:latest
                  imagePullPolicy: IfNotPresent
                  command: ["/bin/sh", "-c", "cp -r /preprocess/* /shared-data/"]
                  securityContext:
                    capabilities:
                      add: [ "IPC_LOCK" ]
                  resources:
                    limits:
                      cpu: 1000m
                      memory: 128Mi
                  volumeMounts:
                  - name: shared-data
                    mountPath: /shared-data
              containers:
                - name: pytorch
                  imagePullPolicy: IfNotPresent
                  volumeMounts:
                    - mountPath: /dev/shm
                      name: sugaku-volume
                    - name: shared-data
                      mountPath: /shared-data
                    - name: varlog
                      mountPath: /var/log
                    - name: podinfo
                      mountPath: /etc/podinfo
                      readOnly: true
                  env:
                    - name: NCCL_SOCKET_IFNAME
                      value: "{{ .Values.net.nccl_socket_ifname }}"
                    - name: GLOO_SOCKET_IFNAME
                      value: "{{ .Values.net.nccl_socket_ifname }}"
                    - name: NCCL_IB_HCA
                      value: "{{ .Values.net.nccl_ib_hca }}"
                    - name: NCCL_DEBUG
                      value: "INFO"
                    - name: NCCL_IB_DISABLE
                      value: "0"
                    - name: NCCL_IB_TIMEOUT
                      value: "22"
                    - name: NCCL_IB_QPS_PER_CONNECTION
                      value: "8"
                    - name: NCCL_IB_RETRY_CNT
                      value: "12"
                    - name: NCCL_NVLS_ENABLE
                      value: "0"
                    - name: NCCL_SOCKET_FAMILY
                      value: "AF_INET"
                    - name: MAIN_CONTAINER_NAME
                      value: "pytorch"
                    - name: JOB_KIND
                      value: "PytorchJob"
                    - name: POD_NAME
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.name
                    - name: POD_UID
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.uid
                    - name: POD_IP
                      valueFrom:
                        fieldRef:
                          fieldPath: status.podIP
                    - name: POD_NAMESPACE
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.namespace
                  securityContext:
                    capabilities:
                      add: [ "IPC_LOCK", "SYS_PTRACE", "SYS_RESOURCE"]
              schedulerName: kube-scheduler-plugins
              volumes:
                - name: shared-data
                  emptyDir: {}
                - name: varlog
                  hostPath:
                    path: /var/log
                - name: podinfo
                  downwardAPI:
                    items:
                    - path: "labels"
                      fieldRef:
                        fieldPath: metadata.labels
              terminationGracePeriodSeconds: 5
              imagePullSecrets:
                - name: {{ .Release.Name }}-image
        Worker:
          restartPolicy: Never
          template:
            spec:
              dnsPolicy: ClusterFirstWithHostNet
              initContainers:
                - name: preprocess
                  image: {{ .Values.repository }}/preprocess:latest
                  imagePullPolicy: IfNotPresent
                  command: ["/bin/sh", "-c", "cp -r /preprocess/* /shared-data/"]
                  securityContext:
                    capabilities:
                      add: [ "IPC_LOCK" ]
                  resources:
                    limits:
                      cpu: 1000m
                      memory: 128Mi
                  volumeMounts:
                  - name: shared-data
                    mountPath: /shared-data
              containers:
                - name: pytorch
                  imagePullPolicy: IfNotPresent
                  env:
                    - name: NCCL_SOCKET_IFNAME
                      value: "{{ .Values.net.nccl_socket_ifname }}"
                    - name: GLOO_SOCKET_IFNAME
                      value: "{{ .Values.net.nccl_socket_ifname }}"
                    - name: NCCL_IB_HCA
                      value: "{{ .Values.net.nccl_ib_hca }}"
                    - name: NCCL_DEBUG
                      value: "INFO"
                    - name: NCCL_IB_DISABLE
                      value: "0"
                    - name: NCCL_IB_TIMEOUT
                      value: "22"
                    - name: NCCL_IB_QPS_PER_CONNECTION
                      value: "8"
                    - name: NCCL_IB_RETRY_CNT
                      value: "12"
                    - name: NCCL_NVLS_ENABLE
                      value: "0"
                    - name: NCCL_SOCKET_FAMILY
                      value: "AF_INET"
                    - name: MAIN_CONTAINER_NAME
                      value: "pytorch"
                    - name: JOB_KIND
                      value: "PytorchJob"
                    - name: POD_NAME
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.name
                    - name: POD_UID
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.uid
                    - name: POD_IP
                      valueFrom:
                        fieldRef:
                          fieldPath: status.podIP
                    - name: POD_NAMESPACE
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.namespace
                  securityContext:
                    capabilities:
                      add: [ "IPC_LOCK", "SYS_PTRACE", "SYS_RESOURCE"]
                  volumeMounts:
                    - name: sugaku-volume
                      mountPath: /dev/shm
                    - name: shared-data
                      mountPath: /shared-data
                    - name: varlog
                      mountPath: /var/log
                    - name: podinfo
                      mountPath: /etc/podinfo
                      readOnly: true
              schedulerName: kube-scheduler-plugins
              volumes:
                - name: shared-data
                  emptyDir: {}
                - name: varlog
                  hostPath:
                    path: /var/log
                - name: podinfo
                  downwardAPI:
                    items:
                    - path: "labels"
                      fieldRef:
                        fieldPath: metadata.labels
              terminationGracePeriodSeconds: 5
              imagePullSecrets:
                - name: {{ .Release.Name }}-image
