apiVersion: v1
kind: ConfigMap
metadata:
  name: create-db-table
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-2"
    helm.sh/hook-delete-policy: before-hook-creation
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
  create_table.sql: |-
    create table if not exists workload
    (
        id SERIAL PRIMARY KEY,
        workload_id VARCHAR(64) not null,
        display_name VARCHAR(64) not null,
        workspace VARCHAR(64) not null,
        cluster VARCHAR(64) not null,
        resource VARCHAR(1024) not null,
        image VARCHAR(128) not null,
        entrypoint TEXT not null,
        gvk VARCHAR(128) not null,
        phase VARCHAR(128),
        username VARCHAR(128),
        create_time TIMESTAMP,
        start_time TIMESTAMP,
        end_time TIMESTAMP,
        delete_time TIMESTAMP,
        is_supervised boolean,
        is_deleted boolean,
        is_tolerate_all boolean,
        priority INT,
        max_retry INT,
        scheduler_order INT,
        dispatch_count int,
        ttl_second int,
        timeout int,
        env TEXT,
        description TEXT,
        pods TEXT,
        nodes TEXT,
        conditions TEXT,
        customer_labels TEXT,
        service TEXT,
        liveness VARCHAR(128),
        readiness VARCHAR(128)
    );

    create index if not exists T_WORKLOAD_ID_INDEX on workload (workload_id);
    create index if not exists T_WORKLOAD_CREATE_TIME_INDEX  on workload (create_time);
    create index if not exists T_WORKLOAD_DISPATCH_CNT_INDEX on workload (dispatch_count);
    create index if not exists T_WORKLOAD_WORKSPACE_INDEX on workload (workspace);
    create index if not exists T_WORKLOAD_ENDTIME_INDEX on workload (end_time);

    create table if not exists fault
    (
        id SERIAL PRIMARY KEY,
        uid VARCHAR(36) not null,
        monitor_id VARCHAR(128) not null,
        message VARCHAR(1024),
        node VARCHAR(64),
        action VARCHAR(16),
        phase VARCHAR(16),
        cluster VARCHAR(64),
        create_time TIMESTAMP,
        update_time TIMESTAMP,
        delete_time TIMESTAMP,
        is_auto_repaired boolean
    );

    create index if not exists T_FAULT_CREATE_TIME_INDEX on fault (create_time);
    create index if not exists T_FAULT_UUID_INDEX on fault (uid);

    create table if not exists ops_job
    (
        id SERIAL PRIMARY KEY,
        job_id VARCHAR(64) not null,
        cluster VARCHAR(128) not null,
        inputs TEXT[],
        type VARCHAR(32) not null,
        timeout int,
        user_name VARCHAR(128),
        workspace VARCHAR(64),
        create_time TIMESTAMP,
        start_time TIMESTAMP,
        end_time TIMESTAMP,
        delete_time TIMESTAMP,
        phase VARCHAR(64),
        conditions TEXT,
        outputs TEXT,
        is_deleted boolean
    );

    alter table ops_job add column if not exists env TEXT;
    create index if not exists T_JOB_ID_INDEX on ops_job (job_id);
    create index if not exists T_JOB_CREATE_TIME_INDEX on ops_job (create_time);
    create index if not exists T_JOB_PHASE_INDEX on ops_job (phase);
    create index if not exists T_JOB_PARAMS_INDEX on ops_job (inputs);

    alter table workload add column if not exists user_id VARCHAR(64);
    alter table workload add column if not exists k8s_object_uid VARCHAR(36);
    alter table workload add column if not exists workload_uid VARCHAR(36);
    alter table ops_job add column if not exists user_id VARCHAR(64);
    alter table workload add column if not exists ranks TEXT;

    CREATE TABLE public_key (
       id BIGSERIAL PRIMARY KEY,
       user_id VARCHAR(64) NOT NULL,
       description VARCHAR(100) NOT NULL,
       public_key TEXT NOT NULL,
       status BOOLEAN NOT NULL DEFAULT TRUE,
       create_time TIMESTAMPTZ NOT NULL DEFAULT NOW(),
       update_time TIMESTAMPTZ,
       delete_time TIMESTAMP
    );

    CREATE INDEX idx_publickey_userid ON public_key(user_id);
    CREATE UNIQUE INDEX idx_publickey_userid_pubkey
    ON public_key(user_id, public_key, delete_time);

    CREATE TABLE ssh_session_records (
       id BIGSERIAL PRIMARY KEY,
       user_id VARCHAR(64) NOT NULL,
       ssh_type VARCHAR(64) NOT NULL,
       namespace VARCHAR(64) NOT NULL,
       pod_id VARCHAR(255) NOT NULL,
       container_name VARCHAR(255) NOT NULL,
       disconnect_reason TEXT,
       disconnect_time TIMESTAMPTZ,
       create_time TIMESTAMPTZ NOT NULL DEFAULT now()
    );




