#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: primus-safe
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
rules:
- apiGroups:
  - amd.com
  resources:
  - addons
  - addontemplates
  - clusters
  - faults
  - nodeflavors
  - nodes
  - nodetemplates
  - opsjobs
  - resourcetemplates
  - roles
  - users
  - workloads
  - workspaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - amd.com
  resources:
  - addons/status
  - addontemplates/status
  - clusters/status
  - faults/status
  - nodeflavors/status
  - nodes/status
  - nodetemplates/status
  - opsjobs/status
  - resourcetemplates/status
  - roles/status
  - users/status
  - workloads/status
  - workspaces/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - services
  - pods
  - pods/log
  - nodes
  - serviceaccounts
  - deployments
  - statefulsets
  - priorityclasses
  - endpoints
  - events
  - ingresses
  verbs:
  - '*'
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - '*'
- apiGroups:
  - "postgres-operator.crunchydata.com"
  resources:
  - "postgresclusters"
  verbs:
  - '*'
- apiGroups:
  - "rbac.authorization.k8s.io"
  resources:
  - "clusterrolebindings"
  - "clusterroles"
  verbs:
  - '*'
---
{{- if .Values.cicd.enable }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/component: manager-role
    app.kubernetes.io/part-of: gha-rs
    app.kubernetes.io/version: 0.13.0
    helm.sh/chart: gha-rs-0.13.0
  name: {{ .Values.cicd.role_name }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - create
      - delete
      - get
  - apiGroups:
      - ""
    resources:
      - pods/status
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebindings
    verbs:
      - create
      - delete
      - get
      - patch
      - update
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
    verbs:
      - create
      - delete
      - get
      - patch
      - update
{{- end }}
