{{- if and (eq (include "primus-lens.middleware.enabled" .) "true") .Values.middleware.victoriametrics.enabled }}
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMCluster
metadata:
  name: primus-lens-vm
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "primus-lens.labels" . | nindent 4 }}
    app.kubernetes.io/component: victoriametrics
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "160"
spec:
  retentionPeriod: "12"  # 12 months
  
  vmstorage:
    replicaCount: {{ include "primus-lens.victoriametrics.storageReplicas" . }}
    storageDataPath: /vm-data
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: {{ .Values.global.storageClass }}
          accessModes:
            - {{ .Values.global.accessMode }}
          resources:
            requests:
              storage: {{ include "primus-lens.victoriametrics.storageSize" . }}
    resources:
      {{- toYaml .Values.middleware.victoriametrics.vmstorage.resources | nindent 6 }}
  
  vmselect:
    replicaCount: {{ .Values.middleware.victoriametrics.vmselect.replicas }}
    cacheMountPath: /select-cache
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: {{ .Values.global.storageClass }}
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 10Gi
    resources:
      {{- toYaml .Values.middleware.victoriametrics.vmselect.resources | nindent 6 }}
  
  vminsert:
    replicaCount: {{ .Values.middleware.victoriametrics.vminsert.replicas }}
    resources:
      {{- toYaml .Values.middleware.victoriametrics.vminsert.resources | nindent 6 }}
{{- end }}

