- hosts: all
  vars:
    workspace: '{{ workspace | default(/opt/primus-bench) }}'
  tasks:
    - name: Collect all node IPs from inventory
      set_fact:
        nodes: "{{ groups['all'] | list }}"
    - name: Run rdma script
      shell: |
        NNODES={{ nodes | length }} \
        WORLD_SIZE={{ nodes | length }} \
        LOCAL_WORLD_SIZE={{ nodes | length }} \
        RANK={{ nodes.index(inventory_hostname) }} \
        LOCAL_RANK={{ nodes.index(inventory_hostname) }} \
        NODE_RANK={{ nodes.index(inventory_hostname) }} \
        MASTER_ADDR={{ nodes | first }} \
        MASTER_PORT={{ master_port}} \
        bash rdma.sh 2>&1 | tee /tmp/rdma.log
      args:
        chdir: '{{ workspace }}/benchmarks/micro_benchmarks/rdma'
