#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: v1
data:
  config.yaml: |
    global:
      # Image pull secret for primus-safe. If set to empty, the secret will not be used.
      image_secret: {{ .Values.global.image_pull_secret }}
      domain: {{ .Values.global.domain }}
      sub_domain: {{ .Values.global.sub_domain }}
    net:
      # RDMA device name
      rdma_name: {{ .Values.net.rdma_name }}
      # Ingress component name selected during install.sh
      ingress: {{ .Values.net.ingress }}
    notification:
      enable: {{ and .Values.notification .Values.notification.email .Values.notification.email.smtp_host | default false }}
      secret_path: /etc/secrets/notification
    health_check:
      # Whether to enable health check
      enable: {{ default true (default .Values.k8s).enable_health_check }}
      # The port of health check
      port: {{ default 8081 (default .Values.resource_manager).health_port }}
    leader_election:
      # LeaderElection determines whether or not to use leader election when starting the manager.
      enable: true
    workspace:
      # The percentage of memory reserved for the system.
      mem_reserve_percent: {{ default 0.02 (default .Values.workspace).mem_reserve_percent }}
      # The percentage of cpu reserved for the system.
      cpu_reserve_percent: {{ default 0.06 (default .Values.workspace).cpu_reserve_percent }}
      # The percentage of storage reserved for the system.
      ephemeral_store_reserve_percent: {{ default 0.1 (default .Values.workspace).ephemeral_store_reserve_percent }}
    workload:
      # The maximum percentage of ephemeral storage that can be used by a workload.
      max_ephemeral_store_percent: {{ default 0.6 (default .Values.workload).max_ephemeral_store_percent }}
    db:
      # Whether to enable database, The database will store some historical data regarding workloads, faults, and ops jobs.
      enable: {{ .Values.db.enable }}
      # The path of database secret
      secret_path: {{ default "/etc/secrets/db" (default .Values.db).secret_path }}
      # The ssl mode of db
      ssl_mode: {{ default "require" (default .Values.db).ssl_mode }}
    opensearch:
      # Whether to enable opensearch, it is used for log search.
      enable: {{ .Values.opensearch.enable }}
      # The path of opensearch secret
      secret_path: {{ .Values.opensearch.secret_path }}
      # The endpoint of opensearch
      endpoint: {{  .Values.opensearch.endpoint }}
      # The prefix of index
      prefix: {{ .Values.opensearch.prefix }}
      # OpenSearch username and password are optional; either use them or the secret above
      username: "{{ default "" (default .Values.opensearch).username }}"
      password: "{{ default "" (default .Values.opensearch).password }}"
    ops_job:
      # The lifecycle of the opsjob after completion, in seconds. Default is 300.
      ttl_second: {{ default 300 (default .Values.ops_job).ttl_second }}
      # The timeout of the opsjob, in seconds. Default is 3600.
      timeout_second: {{ default 3600 (default .Values.ops_job).timeout_second }}
      # Opsjob download image version. Used for downloading files from S3 to local PFS
      download_image: {{ printf "%s/primussafe/%s" (default "docker.io" .Values.global.image_registry) (default "s3-downloader:latest" (default .Values.ops_job).download_image) }}
      # Opsjob evalscope image version. Used for model evaluation
      evalscope_image: {{ printf "%s/primussafe/%s" (default "docker.io" .Values.global.image_registry) (default "evalscope:latest" (default .Values.ops_job).evalscope_image) }}
      prewarm:
        # The timeout for prewarm jobs, in seconds. Default is 900 (15 min).
        timeout_second: {{ default 900 (default (default .Values.ops_job).prewarm).timeout_second }}
        # The number of concurrent worker goroutines for prewarm jobs. Default is 10.
        worker_concurrent: {{ default 10 (default (default .Values.ops_job).prewarm).worker_concurrent }}
    s3:
      # Whether to enable s3, it is used to download logs
      enable: {{ .Values.s3.enable }}
      # The path of s3 secret
      secret_path: {{ .Values.s3.secret_path }}
      # The expire day of object in s3. This feature requires system support to be enabled and needs to be confirmed with the administrator.
      expire_day: 0
    cicd:
      enable: {{ .Values.cicd.enable }}
      role_name: {{ .Values.cicd.role_name }}
      controller_namespace: "arc-systems"
      controller_name: "arc-gha-rs-controller"
    model:
      # Image for downloading models from HuggingFace and uploading to S3
      # Uses global.image_registry to support different registry environments
      downloader_image: {{ default (printf "%s/primussafe/model-downloader:latest" .Values.global.image_registry) (default .Values.model).downloader_image }}
    cd:
      # CD Job image for deployment operations
      job_image: {{ .Values.global.image_registry }}/primussafe/cd-job-runner:latest
      # Image for cleaning up local model files
      cleanup_image: {{ default "alpine:3.18" (default .Values.model).cleanup_image }}
{{- if .Values.addon }}
    addon:
{{ toYaml .Values.addon | indent 6 }}
{{- end }}
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-resource-manager
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
