#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: users.amd.com
spec:
  group: amd.com
  names:
    kind: User
    listKind: UserList
    plural: users
    singular: user
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              password:
                description: User password, base64 encoded, optional
                type: string
              resources:
                additionalProperties:
                  items:
                    type: string
                  type: array
                description: |-
                  The key of resources is the name to be managed (e.g. workspace)
                  values are its corresponding values(e.g. workspace-id)"
                type: object
              restrictedType:
                description: '0: normal; 1 frozen. default: 0'
                type: integer
              roles:
                description: |-
                  User role, e.g. system-admin/default
                  permission check passes if any single role is satisfied.
                items:
                  type: string
                type: array
              type:
                description: User type, required. default/sso
                type: string
            required:
            - roles
            - type
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
