#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: nodeflavors.amd.com
spec:
  group: amd.com
  names:
    kind: NodeFlavor
    listKind: NodeFlavorList
    plural: nodeflavors
    singular: nodeflavor
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: NodeFlavorSpec defines the desired state of NodeFlavor
            properties:
              cpu:
                description: Cpu defines the CPU configuration of the node, including
                  product name and quantity
                properties:
                  product:
                    description: Cpu product name, e.g. AMD EPYC 9554
                    type: string
                  quantity:
                    anyOf:
                    - type: integer
                    - type: string
                    description: Cpu quantity, e.g. 16
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                required:
                - quantity
                type: object
              dataDisk:
                description: |-
                  DataDisk is an optional field that defines the data disk configuration of the node
                  Usually this refers to the disk size mounted on the node, such as an NVMe disk.
                properties:
                  count:
                    type: integer
                  quantity:
                    anyOf:
                    - type: integer
                    - type: string
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                  type:
                    type: string
                required:
                - count
                - quantity
                type: object
              extendedResources:
                additionalProperties:
                  anyOf:
                  - type: integer
                  - type: string
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                description: ExtendResources is an optional field that defines the
                  extended resources list of the node, such as rdma and ephemeralStorage
                type: object
              gpu:
                description: |-
                  Gpu is an optional field that defines the GPU configuration of the node,
                  including product name, Kubernetes resource name, and quantity
                properties:
                  product:
                    description: Gpu product name, e.g. AMD MI300X
                    type: string
                  quantity:
                    anyOf:
                    - type: integer
                    - type: string
                    description: Gpu quantity, e.g. 8
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                  resourceName:
                    description: Corresponding resource names in Kubernetes ResourceList,
                      such as amd.com/gpu or nvidia.com/gpu
                    type: string
                required:
                - quantity
                - resourceName
                type: object
              memory:
                anyOf:
                - type: integer
                - type: string
                description: Memory defines the memory capacity of the node
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
              rootDisk:
                description: |-
                  RootDisk is an optional field that defines the root disk configuration of the node
                  Usually this refers to the system disk size
                properties:
                  count:
                    type: integer
                  quantity:
                    anyOf:
                    - type: integer
                    - type: string
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                  type:
                    type: string
                required:
                - count
                - quantity
                type: object
            required:
            - cpu
            - memory
            type: object
          status:
            description: NodeFlavorStatus defines the observed state of NodeFlavor
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
