apiVersion: v1
data:
  config.yaml: |
    global:
      enable_crypto: {{ .Values.crypto.enable }}
      crypto_key: {{ .Values.crypto.mount_path }}/key
      rdma_name: {{ .Values.net.rdma_name }}
    server:
      port: {{ .Values.apiserver.port }}
    health_check:
      enable: {{ .Values.k8s.enable_health_check }}
      port: {{ .Values.apiserver.health_port }}
    workspace:
      mem_reserve_percent: {{ .Values.workspace.mem_reserve_percent }}
      cpu_reserve_percent: {{ .Values.workspace.cpu_reserve_percent }}
      ephemeral_store_reserve_percent: {{ .Values.workspace.ephemeral_store_reserve_percent }}
    workload:
      max_ephemeral_store_percent: {{ .Values.workload.max_ephemeral_store_percent }}
    db:
      enable: {{ .Values.db.enable }}
      config_path: {{ .Values.db.mount_path }}
      ssl_mode: {{ .Values.db.ssl_mode }}
      max_open_conns: {{ .Values.db.max_open_conns }}
      max_idle_conns: {{ .Values.db.max_idle_conns }}
      max_life_time_second: {{ .Values.db.max_life_time_second }}
      max_idle_time_second: {{ .Values.db.max_idle_time_second }}
      connect_timeout_second: {{ .Values.db.connect_timeout_second }}
      request_timeout_second: {{ .Values.db.request_timeout_second }}
    log:
      enable: {{ .Values.log.enable }}
      config_path: {{ .Values.log.mount_path }}
      endpoint: {{ .Values.log.endpoint }}
      prefix: {{ .Values.log.prefix }}
    ssh:
      server_port: {{ .Values.ssh.port }}
      enable: {{ .Values.ssh.enable }}
      config_path: {{ .Values.ssh.mount_path }}
    s3:
      enable: {{ .Values.s3.enable }}
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-apiserver
  namespace: {{ .Release.Namespace }}
