apiVersion: v1
kind: Service
metadata:
  name: apiserver-service
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: {{ .Release.Name }}-apiserver
  ports:
    - protocol: TCP
      port: 8088
      targetPort: 8088
  type: ClusterIP
