{{- if and (eq (include "primus-lens.middleware.enabled" .) "true") .Values.middleware.postgresql.enabled }}
apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: primus-lens
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "primus-lens.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "100"
spec:
  image: registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi8-15.5-1
  postgresVersion: 15
  
  instances:
    - name: instance1
      replicas: {{ include "primus-lens.postgresql.replicas" . }}
      dataVolumeClaimSpec:
        accessModes:
          - {{ .Values.global.accessMode | quote }}
        resources:
          requests:
            storage: {{ include "primus-lens.postgresql.dataSize" . }}
        storageClassName: {{ .Values.global.storageClass }}
      resources:
        {{- toYaml .Values.middleware.postgresql.cluster.resources | nindent 8 }}
  
  backups:
    pgbackrest:
      image: registry.developers.crunchydata.com/crunchydata/crunchy-pgbackrest:ubi8-2.48-1
      repos:
        - name: repo1
          volume:
            volumeClaimSpec:
              accessModes:
                - {{ .Values.global.accessMode | quote }}
              resources:
                requests:
                  storage: {{ include "primus-lens.postgresql.backupSize" . }}
              storageClassName: {{ .Values.global.storageClass }}
  
  users:
    - name: primus_lens
      databases:
        - primus_lens
      options: "SUPERUSER"
{{- end }}

