#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-web
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
    app: {{ .Release.Name }}-web
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.web.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-web
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-web
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: feature.node.kubernetes.io/amd-gpu
                    operator: NotIn
                    values:
                      - "true"
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 80
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{ .Release.Name }}-job-manager
                        - {{ .Release.Name }}-webhooks
                        - {{ .Release.Name }}-resource-manager
                        - {{ .Release.Name }}-apiserver
                topologyKey: kubernetes.io/hostname
      containers:
        - name: app
          image: {{ .Values.global.image_repository }}/primussafe/{{ .Values.web.image }}
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: {{ .Values.web.cpu }}
              memory: {{ .Values.web.memory }}
            requests:
              cpu: {{ .Values.web.cpu }}
              memory: {{ .Values.web.memory }}
      {{- if .Values.global.image_pull_secret }}
      imagePullSecrets:
        - name: {{ .Values.global.image_pull_secret }}
      {{- end }}
      terminationGracePeriodSeconds: 10
      priorityClassName: system-cluster-critical
      restartPolicy: Always