apiVersion: v1
data:
  config.yaml: |
    global:
      rdma_name: {{ .Values.net.rdma_name }}
    server:
      port: {{ .Values.webhooks.port }}
    health_check:
      enable: {{ .Values.k8s.enable_health_check }}
      port: {{ .Values.webhooks.health_port }}
    leader_election:
      enable: {{ .Values.k8s.enable_leader_election }}
      lock_namespace: "{{ .Release.Namespace }}"
    workspace:
      mem_reserve_percent: {{ .Values.workspace.mem_reserve_percent }}
      cpu_reserve_percent: {{ .Values.workspace.cpu_reserve_percent }}
      ephemeral_store_reserve_percent: {{ .Values.workspace.ephemeral_store_reserve_percent }}
    workload:
      max_ephemeral_store_percent: {{ .Values.workload.max_ephemeral_store_percent }}
    ssh:
      enable: {{ .Values.ssh.enable }}
    ops_job:
      ttl_second: {{ .Values.ops_job.ttl_second }}
      timeout_second: {{ .Values.ops_job.timeout_second }}
      batch_count: {{ .Values.ops_job.batch_count }}
      available_ratio: {{ .Values.ops_job.available_ratio }}
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-webhooks
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}