apiVersion: v1
data:
  config.yaml: |
    server:
      port: 8084
    health_check:
      enable: true
      port: 8085
    leader_election:
      enable: true
      lock_namespace: "{{ .Release.Namespace }}"
    workspace:
      mem_reserve_percent: {{ .Values.workspace.mem_reserve_percent }}
      cpu_reserve_percent:  {{ .Values.workspace.cpu_reserve_percent }}
      ephemeral_store_reserve_percent: {{ .Values.workspace.ephemeral_store_reserve_percent }}
    workload:
      max_ephemeral_store_percent: {{ .Values.workload.max_ephemeral_store_percent }}
    ssh:
      enable: {{ .Values.ssh.enable }}
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-webhooks
  namespace: {{ .Release.Namespace }}
