apiVersion: v1
data:
  config.yaml: |
    global:
      rdma_name: {{ .Values.net.rdma_name }}
    server:
      port: {{ default 8084 (default .Values.webhooks).port }}
    health_check:
      enable: {{ default true (default .Values.k8s).enable_health_check }}
      port: {{ default 8085 (default .Values.webhooks).health_port }}
    leader_election:
      enable: true
      lock_namespace: "{{ .Release.Namespace }}"
    workspace:
      mem_reserve_percent: {{ default 0.02 (default .Values.workspace).mem_reserve_percent }}
      cpu_reserve_percent: {{ default 0.06 (default .Values.workspace).cpu_reserve_percent }}
      ephemeral_store_reserve_percent: {{ default 0.1 (default .Values.workspace).ephemeral_store_reserve_percent }}
    workload:
      ttl_second: {{ default 60 (default .Values.workload).ttl_second }}
      max_ephemeral_store_percent: {{ default 0.6 (default .Values.workload).max_ephemeral_store_percent }}
    ssh:
      enable: {{ .Values.ssh.enable }}
    user:
      default_workspace: safe-cluster-dev
    ops_job:
      ttl_second: {{ default 300 (default .Values.ops_job).ttl_second }}
      timeout_second: {{ default 3600 (default .Values.ops_job).timeout_second }}
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-webhooks
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}