apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-webhooks
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: {{ .Release.Name }}-webhooks
  ports:
    - protocol: TCP
      port: 443
      targetPort: {{ .Values.webhooks.port }}
  type: ClusterIP
