#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#
global:
  # Domain and sub_domain are mainly used for console access
  domain: "primus-safe.amd.com"
  sub_domain: ""
  # Image registry address where management components are uploaded
  image_registry: "docker.io"
  # Secret used for image downloading, created via install.sh
  image_pull_secret: "primus-safe-image"
  # Kubernetes storage class for persistent storage
  storage_class: "local-path"
net:
  # Network interface for NCCL socket communication
  nccl_socket_ifname: "eno0"
  # RDMA network interfaces for high-performance communication
  nccl_ib_hca: "rdma0,rdma1,rdma2,rdma3,rdma4,rdma5,rdma6,rdma7"
  # RDMA resource name
  rdma_name: "rdma/hca"
  # Ingress component name selected during install.sh
  ingress: "higress"
# This list is of deployable components
components:
  - apiserver
  - resource_manager
  - job_manager
  - webhooks
  - web
  - preprocess
  - node_agent
  - cicd_runner
  - cicd_unified_job
apiserver:
  # Apiserver component image version
  image: "apiserver:latest"
  # Number of replicas for apiserver deployment
  replicas: 1
  # CPU resources allocated to apiserver
  cpu: 2000m
  # Memory resources allocated to apiserver
  memory: 4Gi
  # The nodeport for apiserver service
  node_port: 32495
resource_manager:
  # Resource manager component image version
  image: "resource-manager:latest"
  # Number of replicas for resource manager deployment
  replicas: 1
  # CPU resources allocated to resource manager
  cpu: 2000m
  # Memory resources allocated to resource manager
  memory: 4Gi
job_manager:
  # Job manager component image version
  image: "job-manager:latest"
  # Number of replicas for job manager deployment
  replicas: 1
  # CPU resources allocated to job manager
  cpu: 2000m
  # Memory resources allocated to job manager
  memory: 4Gi
webhooks:
  # Webhooks component image version
  image: "webhooks:latest"
  # Number of replicas for webhooks deployment
  replicas: 1
  # CPU resources allocated to webhooks
  cpu: 2000m
  # Memory resources allocated to webhooks
  memory: 4Gi
web:
  # Web console component image version
  image: "primus-safe-web:latest"
  # Number of replicas for web console deployment
  replicas: 1
  # CPU resources allocated to web console
  cpu: 2000m
  # Memory resources allocated to web console
  memory: 4Gi
preprocess:
  # Preprocessing component image version. used for pytorch-job etc.
  image: "preprocess:latest"
cicd:
  enable: true
  role_name: "gha-rs-manager"
  # cicd component image version. used for starting jobs for runner
  runner: "cicd-runner-proxy:latest"
  unified_job: "cicd-unified-job-proxy:latest"
db:
  # Enable database for historical job queries, defaults to true
  enable: true
opensearch:
  # Enable Opensearch for log querying (part of primus-lens)
  enable: true
  # Prefix for Opensearch nodes
  prefix: "node-"
  # Secret containing Opensearch credentials
  secret: "primus-lens-logs-admin-password"
  # Namespace where Opensearch secret is located
  secret_namespace: "primus-lens"
  # Path to mount Opensearch secret
  secret_path: "/etc/secrets/opensearch"
  # Opensearch endpoint address
  endpoint: "primus-lens-logs-nodes.primus-lens.svc.cluster.local:9200"
ssh:
  # Enable SSH access to user containers
  enable: true
  # SSH server IP for jump server access
  server_ip: ""
user:
  # Require token for user access, can be disabled in internal networks
  token_required: false
sso:
  # Enable sso login
  enable: true
  # The secret for sso, which contains the id, secret, endpoint and redirect_uri
  secret: "primus-safe-sso"
  # Path to mount sso secret
  secret_path: "/etc/secrets/sso"
workspace:
  # Reserved system resources for management components
  mem_reserve_percent: 0.05
  cpu_reserve_percent: 0.1
  ephemeral_store_reserve_percent: 0.05
s3:
  # Enable S3 service access, mainly used for log downloading
  enable: false
  # Secret containing S3 access key and secret key, bucket and endpoint
  secret: "primus-safe-s3"
  # Path to mount S3 secret
  secret_path: "/etc/secrets/s3"
grafana:
  # Enable Grafana for monitoring metrics display (requires primus-lens)
  enable: false
  # Grafana password
  password: ""
addon:
  # Default components installed with the system
  default: cert-manager.v1.17.2,training-operator.1.9.2,network-operator.25.4.0,kube-scheduler-plugins-0.31.8,amd-gpu-operator-charts-v1.4.0ï¼Œcsi-wekafsplugin.2.7.7
