#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: v1
kind: ConfigMap
metadata:
  name: create-db-table
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-2"
    helm.sh/hook-delete-policy: before-hook-creation
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
  create_table.sql: |-
    create table if not exists workload
    (
        id SERIAL PRIMARY KEY,
        workload_id VARCHAR(64) not null,
        display_name VARCHAR(64) not null,
        workspace VARCHAR(64) not null,
        cluster VARCHAR(64) not null,
        resource VARCHAR(1024) not null,
        image VARCHAR(128) not null,
        entrypoint TEXT not null,
        gvk VARCHAR(128) not null,
        phase VARCHAR(128),
        username VARCHAR(128),
        creation_time TIMESTAMP,
        start_time TIMESTAMP,
        end_time TIMESTAMP,
        deletion_time TIMESTAMP,
        is_supervised boolean,
        is_deleted boolean,
        is_tolerate_all boolean,
        priority INT,
        max_retry INT,
        queue_position INT,
        dispatch_count int,
        ttl_second int,
        timeout int,
        env TEXT,
        description TEXT,
        pods TEXT,
        nodes TEXT,
        conditions TEXT,
        customer_labels TEXT,
        service TEXT,
        liveness VARCHAR(128),
        readiness VARCHAR(128),
        dependencies TEXT
    );

    create index if not exists T_WORKLOAD_ID_INDEX on workload (workload_id);
    create index if not exists T_WORKLOAD_DISPATCH_CNT_INDEX on workload (dispatch_count);
    create index if not exists T_WORKLOAD_WORKSPACE_INDEX on workload (workspace);
    create index if not exists T_WORKLOAD_CREATION_TIME_INDEX on workload (creation_time);
    create index if not exists T_WORKLOAD_ENDTIME_INDEX on workload (end_time);

    alter table workload add column if not exists user_id VARCHAR(64);
    alter table workload add column if not exists k8s_object_uid VARCHAR(36);
    alter table workload add column if not exists workload_uid VARCHAR(36);
    alter table workload add column if not exists ranks TEXT;
    alter table workload add column if not exists cron_jobs TEXT;

    create table if not exists fault
    (
        id SERIAL PRIMARY KEY,
        uid VARCHAR(36) not null,
        monitor_id VARCHAR(128) not null,
        message VARCHAR(1024),
        node VARCHAR(64),
        action VARCHAR(16),
        phase VARCHAR(16),
        cluster VARCHAR(64),
        creation_time TIMESTAMP,
        update_time TIMESTAMP,
        deletion_time TIMESTAMP,
        is_auto_repaired boolean
    );

    create index if not exists T_FAULT_UUID_INDEX on fault (uid);
    create index if not exists T_FAULT_CREATION_TIME_INDEX on fault (creation_time);

    create table if not exists ops_job
    (
        id SERIAL PRIMARY KEY,
        job_id VARCHAR(64) not null,
        cluster VARCHAR(128) not null,
        inputs TEXT[],
        type VARCHAR(32) not null,
        timeout int,
        user_name VARCHAR(128),
        workspace VARCHAR(64),
        creation_time TIMESTAMP,
        start_time TIMESTAMP,
        end_time TIMESTAMP,
        deletion_time TIMESTAMP,
        phase VARCHAR(64),
        conditions TEXT,
        outputs TEXT,
        is_deleted boolean
    );

    create index if not exists T_JOB_ID_INDEX on ops_job (job_id);
    create index if not exists T_JOB_PHASE_INDEX on ops_job (phase);
    create index if not exists T_JOB_PARAMS_INDEX on ops_job (inputs);
    create index if not exists T_JOB_CREATION_TIME_INDEX on ops_job (creation_time);

    alter table ops_job add column if not exists env TEXT;
    alter table ops_job add column if not exists user_id VARCHAR(64);
    alter table ops_job add column if not exists resource VARCHAR(1024);
    alter table ops_job add column if not exists image VARCHAR(128);
    alter table ops_job add column if not exists entrypoint TEXT;
    alter table ops_job add column if not exists is_tolerate_all boolean default false;
    alter table ops_job add column if not exists hostpath TEXT;

    create table if not exists registry_info
    (
        id         serial
            constraint registry_info_pk
                primary key,
        name       varchar(64),
        url        varchar(256),
        username   varchar(256),
        password   varchar(256),
        "default"  bool,
        token      varchar(512),
        created_at timestamptz,
        updated_at timestamptz,
        deleted_at timestamptz
    );

    alter table registry_info
        owner to "primus-safe";

    create table if not exists image_import_job
    (
        id         serial
            constraint image_import_job_pk
                primary key,
        src_tag    varchar(256),
        dst_name   varchar(256),
        os         varchar(64),
        arch       varchar(64),
        job_name   varchar(128),
        log        text,
        layer      jsonb,
        image_id   integer,
        created_at timestamptz
    );

    alter table image_import_job
        owner to "primus-safe";

    create table if not exists image_digest
    (
        id           serial
            constraint image_digest_pk
                primary key,
        size         bigint,
        os           varchar(64),
        architecture varchar(64),
        digest       varchar(256),
        type         varchar(64),
        created_at   timestamp with time zone,
        updated_at   timestamp with time zone,
        deleted_at   timestamp with time zone
    );

    alter table image_digest
        owner to "primus-safe";

    create table if not exists image
    (
        id              serial
            constraint image_pk
                primary key,
        tag             VARCHAR(128),
        description     VARCHAR(1024),
        source          varchar(128),
        status          varchar(64),
        relation_digest jsonb,
        created_at      timestamp with time zone,
        created_by      varchar(128),
        updated_at      timestamp with time zone,
        deleted_at      timestamp with time zone,
        deleted_by      varchar(128)
    );

    alter table image
        owner to "primus-safe";

    CREATE TABLE public_key (
       id BIGSERIAL PRIMARY KEY,
       user_id VARCHAR(64) NOT NULL,
       description VARCHAR(100) NOT NULL,
       public_key TEXT NOT NULL,
       status BOOLEAN NOT NULL DEFAULT TRUE,
       create_time TIMESTAMPTZ NOT NULL DEFAULT NOW(),
       update_time TIMESTAMPTZ,
       delete_time TIMESTAMP
    );

    CREATE INDEX idx_publickey_userid ON public_key(user_id);
    CREATE UNIQUE INDEX idx_publickey_userid_pubkey ON public_key(user_id, public_key, delete_time);
    alter table public_key owner to "primus-safe";

    CREATE TABLE ssh_session_records (
       id BIGSERIAL PRIMARY KEY,
       user_id VARCHAR(64) NOT NULL,
       ssh_type VARCHAR(64) NOT NULL,
       namespace VARCHAR(64) NOT NULL,
       pod_id VARCHAR(255) NOT NULL,
       container_name VARCHAR(255) NOT NULL,
       disconnect_reason TEXT,
       disconnect_time TIMESTAMPTZ,
       create_time TIMESTAMPTZ NOT NULL DEFAULT now()
    );

    alter table ssh_session_records owner to "primus-safe";
    create table notification
    (
        id         serial,
        kind       varchar(64),
        name       varchar(64),
        uid        varchar(64),
        channel    varchar(32),
        data       jsonb,
        status     varchar(32),
        method     varchar(32),
        error      text,
        created_at timestamptz,
        sent_at    timestamptz
    );


    alter table notification
        owner to "primus-safe";

    create table if not exists user_token
    (
        user_id    varchar(64) NOT NULL PRIMARY KEY,
        session_id VARCHAR(64) NOT NULL,
        token      TEXT NOT NULL,
        creation_time bigint,
        expire_time bigint
        );
    create index if not exists T_SESSION_ID_INDEX on user_token (session_id);
    alter table user_token owner to "primus-safe";


    create table if not exists workload_statistic
    (
        id SERIAL PRIMARY KEY,
        workload_id VARCHAR(64) not null,
        workload_uid VARCHAR(36),
        cluster VARCHAR(64),
        workspace VARCHAR(64),
        statistic_type VARCHAR(32) not null,
        avg_gpu_usage_3h DECIMAL(5, 2),
        max_gpu_usage_3h DECIMAL(5, 2),
        data_points_count INT,
        created_at TIMESTAMPTZ not null default now(),
        updated_at TIMESTAMPTZ
        );

    create index if not exists T_WORKLOAD_STAT_WORKLOAD_ID_INDEX on workload_statistic (workload_id);
    create index if not exists T_WORKLOAD_STAT_WORKLOAD_UID_INDEX on workload_statistic (workload_uid);
    create index if not exists T_WORKLOAD_STAT_WORKSPACE_INDEX on workload_statistic (workspace);
    create index if not exists T_WORKLOAD_STAT_CREATED_AT_INDEX on workload_statistic (created_at);
    create index if not exists T_WORKLOAD_STAT_TYPE_INDEX on workload_statistic (statistic_type);

    alter table workload_statistic owner to "primus-safe";


    create table if not exists node_statistic
    (
        id SERIAL PRIMARY KEY,
        cluster VARCHAR(64) not null,
        node_name VARCHAR(128) not null,
        gpu_utilization DECIMAL(5, 2),
        created_at TIMESTAMPTZ not null default now(),
        updated_at TIMESTAMPTZ,
        deleted_at TIMESTAMPTZ
        );

    create index if not exists T_NODE_STAT_CLUSTER_INDEX on node_statistic (cluster);
    create index if not exists T_NODE_STAT_NODE_NAME_INDEX on node_statistic (node_name);
    create index if not exists T_NODE_STAT_CREATED_AT_INDEX on node_statistic (created_at);

    alter table node_statistic owner to "primus-safe";