#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: v1
data:
  config.yaml: |
    global:
      # RDMA device name
      rdma_name: {{ .Values.net.rdma_name }}
    server:
      # The port of webhooks server
      port: {{ default 8084 (default .Values.webhooks).port }}
    health_check:
      # Whether to enable health check
      enable: {{ default true (default .Values.k8s).enable_health_check }}
      # The port of health check
      port: {{ default 8085 (default .Values.webhooks).health_port }}
    leader_election:
      # LeaderElection determines whether or not to use leader election when starting the manager.
      enable: true
    workspace:
      # The percentage of memory reserved for the system.
      mem_reserve_percent: {{ default 0.02 (default .Values.workspace).mem_reserve_percent }}
      # The percentage of cpu reserved for the system.
      cpu_reserve_percent: {{ default 0.06 (default .Values.workspace).cpu_reserve_percent }}
      # The percentage of storage reserved for the system.
      ephemeral_store_reserve_percent: {{ default 0.1 (default .Values.workspace).ephemeral_store_reserve_percent }}
    workload:
      # The lifecycle of the workload after completion, in seconds. Default is 60.
      ttl_second: {{ default 60 (default .Values.workload).ttl_second }}
      # The maximum percentage of ephemeral storage that can be used by a workload.
      max_ephemeral_store_percent: {{ default 0.6 (default .Values.workload).max_ephemeral_store_percent }}
      # The default image for authoring
      authoring_image: {{ .Values.global.image_registry }}/primussafe/{{ .Values.authoring.image }}
    ssh:
      # Whether to enable ssh, Users can log in directly to their own pods.
      enable: {{ .Values.ssh.enable }}
    ops_job:
      # The lifecycle of the opsjob after completion, in seconds. Default is 300.
      ttl_second: {{ default 300 (default .Values.ops_job).ttl_second }}
      # The timeout of the opsjob, in seconds. Default is 3600.
      timeout_second: {{ default 3600 (default .Values.ops_job).timeout_second }}
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-webhooks
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
