#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#
{{- if .Values.grafana.enable }}
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: postgresql
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  instanceSelector:
    matchLabels:
      system: primus-safe
  datasource:
    name: postgresql
    type: postgres
    jsonData:
      database: primus-lens
      connMaxLifetime: 14400
      maxIdleConns: 2
      maxOpenConns: 0
      postgresVersion: 1400
      sslmode: require
      timescaledb: false
    access: proxy
    secureJsonData:
      password: {{ .Values.grafana.password }}
    url: primus-lens-ha.primus-lens.svc.cluster.local:5432
    user: primus-lens
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  instanceSelector:
    matchLabels:
      system: primus-safe
  datasource:
    name: prometheus
    type: prometheus
    access: proxy
    url: http://vmselect-primus-lens-metrics.primus-lens.svc.cluster.local:8481/select/0/prometheus
    isDefault: true
    jsonData:
      "tlsSkipVerify": true
      "timeInterval": "5s"
{{- end }}