{{- if .Values.victoriametrics.enabled }}
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMCluster
metadata:
  name: {{ .Values.victoriametrics.name }}
  namespace: {{ include "victoriametrics.namespace" . }}
  labels:
    {{- include "victoriametrics.labels" . | nindent 4 }}
spec:
  retentionPeriod: {{ .Values.victoriametrics.retentionPeriod | quote }}
  replicationFactor: 1
  
  vmstorage:
    replicaCount: {{ .Values.victoriametrics.vmstorage.replicas }}
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: {{ include "victoriametrics.storageClass" . }}
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: {{ .Values.victoriametrics.vmstorage.size }}
    resources:
      {{- toYaml .Values.victoriametrics.vmstorage.resources | nindent 6 }}
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: vmstorage
                  app.kubernetes.io/instance: {{ .Values.victoriametrics.name }}
  
  vmselect:
    replicaCount: {{ .Values.victoriametrics.vmselect.replicas }}
    cacheMountPath: /cache
    {{- if .Values.victoriametrics.vmselect.cacheSize }}
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: {{ include "victoriametrics.storageClass" . }}
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: {{ .Values.victoriametrics.vmselect.cacheSize }}
    {{- end }}
    resources:
      {{- toYaml .Values.victoriametrics.vmselect.resources | nindent 6 }}
  
  vminsert:
    replicaCount: {{ .Values.victoriametrics.vminsert.replicas }}
    resources:
      {{- toYaml .Values.victoriametrics.vminsert.resources | nindent 6 }}
{{- end }}
