apiVersion: v1
data:
  config.yaml: |
    global:
      enable_crypto: {{ .Values.crypto.enable }}
      crypto_key: {{ .Values.crypto.mount_path }}/key
      rdma_name: {{ .Values.net.rdma_name }}
    health_check:
      enable: {{ .Values.k8s.enable_health_check }}
      port: {{ .Values.resource_manager.health_port }}
    leader_election:
      enable: {{ .Values.k8s.enable_leader_election }}
      lock_namespace: "{{ .Release.Namespace }}"
    workspace:
      mem_reserve_percent: {{ .Values.workspace.mem_reserve_percent }}
      cpu_reserve_percent: {{ .Values.workspace.cpu_reserve_percent }}
      ephemeral_store_reserve_percent: {{ .Values.workspace.ephemeral_store_reserve_percent }}
    db:
      enable: {{ .Values.db.enable }}
      config_path: {{ .Values.db.mount_path }}
      ssl_mode: {{ .Values.db.ssl_mode }}
      max_open_conns: {{ .Values.db.max_open_conns }}
      max_idle_conns: {{ .Values.db.max_idle_conns }}
      max_life_time_second: {{ .Values.db.max_life_time_second }}
      max_idle_time_second: {{ .Values.db.max_idle_time_second }}
      connect_timeout_second: {{ .Values.db.connect_timeout_second }}
      request_timeout_second: {{ .Values.db.request_timeout_second }}
    log:
      enable: {{ .Values.log.enable }}
      config_path: {{ .Values.log.mount_path }}
      endpoint: {{ .Values.log.endpoint }}
      prefix: {{ .Values.log.prefix }}
    ops_job:
      ttl_second: {{ .Values.ops_job.ttl_second }}
      timeout_second: {{ .Values.ops_job.timeout_second }}
      batch_count: {{ .Values.ops_job.batch_count }}
      available_ratio: {{ .Values.ops_job.available_ratio }}
    fault:
      addon_id: "{{ .Values.fault.addon_id }}"
    s3:
      enable: {{ .Values.s3.enable }}
      config_path: {{ .Values.s3.mount_path }}
      endpoint: {{ .Values.s3.endpoint }}
      bucket: {{ .Values.s3.bucket }}
      expire_day: 3
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-resource-manager
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
