apiVersion: v1
data:
  config.yaml: |
    global:
      enable_crypto: {{ .Values.crypto.enable }}
      crypto_key: {{ .Values.crypto.path }}/key
    health_check:
      enable: true
      port: 8081
    leader_election:
      enable: true
      lock_namespace: "{{ .Release.Namespace }}"
    workspace:
      mem_reserve_percent: {{ .Values.workspace.mem_reserve_percent }}
      cpu_reserve_percent:  {{ .Values.workspace.cpu_reserve_percent }}
      ephemeral_store_reserve_percent: {{ .Values.workspace.ephemeral_store_reserve_percent }}
    db:
      enable: {{ .Values.db.enable }}
      config_path: {{ .Values.db.mount_path }}
      ssl_mode: {{ .Values.db.ssl_mode }}
      max_open_conns: {{ .Values.db.max_open_conns }}
      max_idle_conns: {{ .Values.db.max_idle_conns }}
      max_life_time_second: {{ .Values.db.max_life_time_second }}
      max_idle_time_second: {{ .Values.db.max_idle_time_second }}
      connect_timeout_second:  {{ .Values.db.connect_timeout_second }}
      request_timeout_second: {{ .Values.db.request_timeout_second }}
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-resource-manager
  namespace: {{ .Release.Namespace }} 
