#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: v1
data:
  config.yaml: |
    global:
      rdma_name: {{ .Values.net.rdma_name }}
    health_check:
      enable: {{ default true (default .Values.k8s).enable_health_check }}
      port: {{ default 8081 (default .Values.resource_manager).health_port }}
    leader_election:
      enable: true
      lock_namespace: "{{ .Release.Namespace }}"
    workspace:
      mem_reserve_percent: {{ default 0.02 (default .Values.workspace).mem_reserve_percent }}
      cpu_reserve_percent: {{ default 0.06 (default .Values.workspace).cpu_reserve_percent }}
      ephemeral_store_reserve_percent: {{ default 0.1 (default .Values.workspace).ephemeral_store_reserve_percent }}
    workload:
      max_ephemeral_store_percent: {{ default 0.6 (default .Values.workload).max_ephemeral_store_percent }}
    db:
      enable: {{ .Values.db.enable }}
      secret_path: {{ default "/etc/secrets/db" (default .Values.db).secret_path }}
      ssl_mode: {{ default "require" (default .Values.db).ssl_mode }}
      max_open_conns: {{ default 100 (default .Values.db).max_open_conns }}
      max_idle_conns: {{ default 10 (default .Values.db).max_idle_conns }}
      max_life_time_second: {{ default 600 (default .Values.db).max_life_time_second }}
      max_idle_time_second: {{ default 100 (default .Values.db).max_idle_time_second }}
      connect_timeout_second: {{ default 10 (default .Values.db).connect_timeout_second }}
      request_timeout_second: {{ default 20 (default .Values.db).request_timeout_second }}
    opensearch:
      enable: {{ .Values.opensearch.enable }}
      secret_path: {{ .Values.opensearch.secret_path }}
      endpoint: {{  .Values.opensearch.endpoint }}
      prefix: {{ .Values.opensearch.prefix }}
      username: "{{ default "" (default .Values.opensearch).username }}"
      password: "{{ default "" (default .Values.opensearch).password }}"
    ops_job:
      ttl_second: {{ default 300 (default .Values.ops_job).ttl_second }}
      timeout_second: {{ default 3600 (default .Values.ops_job).timeout_second }}
    s3:
      enable: {{ .Values.s3.enable }}
      secret_path: {{ .Values.s3.secret_path }}
      endpoint: {{ .Values.s3.endpoint }}
      bucket: {{ .Values.s3.bucket }}
      access_key: "{{ default "" (default .Values.s3).access_key }}"
      secret_key: "{{ default "" (default .Values.s3).secret_key }}"
      expire_day: 0
{{- if .Values.addon }}
    addon:
{{ toYaml .Values.addon | indent 6 }}
{{- end }}
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-resource-manager
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
