**/.git
**/__pycache__
**/*.pyc
**/*.pyo
**/*.egg-info
**/.eggs
**/build
**/dist
**/*.log
**/*.whl
**/.tox
**/.pytest_cache
**/.mypy_cache
**/node_modules
**/.venv
**/outputs
**/core.*
**/wandb
**/tensorboard*