#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: v1
kind: ConfigMap
metadata:
  name: amd-job-template
  namespace: {{ .Release.Namespace }}
  labels:
    primus-safe.workload.version: v1
    primus-safe.workload.kind: Job
    app.kubernetes.io/managed-by: Helm
  annotations:
    # The main container name should match the configuration defined in the template below
    primus-safe.main.container: job
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
  template: |
    apiVersion: batch/v1
    kind: Job
    spec:
      completionMode: NonIndexed
      backoffLimit: 0
      suspend: false
      template:
        spec:
          restartPolicy: Never
          dnsPolicy: ClusterFirstWithHostNet
          containers:
            - name: job
              imagePullPolicy: IfNotPresent
              volumeMounts:
                - name: podinfo
                  mountPath: /etc/podinfo
                  readOnly: true
              env:
                - name: NCCL_SOCKET_IFNAME
                  value: "{{ .Values.net.nccl_socket_ifname }}"
                - name: NCCL_IB_HCA
                  value: "{{ .Values.net.nccl_ib_hca }}"
              securityContext:
                capabilities:
                  add: [ "IPC_LOCK", "SYS_PTRACE", "SYS_RESOURCE"]
          schedulerName: kube-scheduler-plugins
          volumes:
            - name: podinfo
              downwardAPI:
                items:
                - path: "labels"
                  fieldRef:
                    fieldPath: metadata.labels
          terminationGracePeriodSeconds: 5