#
# Copyright (C) 2025-2026, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: v1
kind: ConfigMap
metadata:
  name: amd-ray-job-template
  namespace: {{ .Release.Namespace }}
  labels:
    primus-safe.workload.version: v1
    primus-safe.workload.kind: RayJob
    app.kubernetes.io/managed-by: Helm
  annotations:
    # The main container name should match the configuration defined in the template below
    primus-safe.main.container: main
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
  template: |
    apiVersion: ray.io/v1
    kind: RayJob
    spec:
      shutdownAfterJobFinishes: true
      ttlSecondsAfterFinished: 10
      rayClusterSpec:
        headGroupSpec:
          template:
            spec:
              dnsPolicy: ClusterFirstWithHostNet
              initContainers:
              - name: preprocess
                image: {{ .Values.global.image_registry }}/primussafe/{{ .Values.preprocess.image }}
                imagePullPolicy: IfNotPresent
                command: ["/bin/sh", "-c", "cp -r /preprocess/* /shared-data/"]
                securityContext:
                  capabilities:
                    add: [ "IPC_LOCK" ]
                resources:
                  limits:
                    cpu: 1000m
                    memory: 128Mi
                volumeMounts:
                  - name: shared-data
                    mountPath: /shared-data
              containers:
              - name: main
                env:
                - name: NCCL_SOCKET_IFNAME
                  value: "{{ .Values.net.nccl_socket_ifname }}"
                - name: GLOO_SOCKET_IFNAME
                  value: "{{ .Values.net.nccl_socket_ifname }}"
                - name: NCCL_IB_HCA
                  value: "{{ .Values.net.nccl_ib_hca }}"
                - name: NCCL_IB_TIMEOUT
                  value: "23"
                - name: NCCL_IB_RETRY_CNT
                  value: "11"
                - name: NCCL_IB_GID_INDEX
                  value: "3"
                - name: NCCL_IB_QPS_PER_CONNECTION
                  value: "4"
                - name: NCCL_IB_TC
                  value: "41"
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.name
                - name: POD_UID
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.uid
                - name: POD_IP
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: status.podIP
                - name: POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.namespace
                ports:
                - containerPort: 6379
                  name: gcs-server
                - containerPort: 8265 # Ray dashboard
                  name: dashboard
                - containerPort: 10001
                  name: client
                imagePullPolicy: IfNotPresent
                volumeMounts:
                  - name: shared-data
                    mountPath: /shared-data
                  - name: podinfo
                    mountPath: /etc/podinfo
                    readOnly: true
                securityContext:
                  privileged: true
                  runAsUser: 0
              schedulerName: kube-scheduler-plugins
              volumes:
                - name: shared-data
                  emptyDir: {}
                - name: podinfo
                  downwardAPI:
                    items:
                    - path: "labels"
                      fieldRef:
                        fieldPath: metadata.labels
              terminationGracePeriodSeconds: 5
        workerGroupSpecs:
        - groupName: "1"
          template:
            spec:
              dnsPolicy: ClusterFirstWithHostNet
              initContainers:
              - name: preprocess
                image: {{ .Values.global.image_registry }}/primussafe/{{ .Values.preprocess.image }}
                imagePullPolicy: IfNotPresent
                command: ["/bin/sh", "-c", "cp -r /preprocess/* /shared-data/"]
                securityContext:
                  capabilities:
                    add: [ "IPC_LOCK" ]
                resources:
                  limits:
                    cpu: 1000m
                    memory: 128Mi
                volumeMounts:
                  - name: shared-data
                    mountPath: /shared-data
              containers:
              - name: main
                env:
                - name: NCCL_SOCKET_IFNAME
                  value: "{{ .Values.net.nccl_socket_ifname }}"
                - name: GLOO_SOCKET_IFNAME
                  value: "{{ .Values.net.nccl_socket_ifname }}"
                - name: NCCL_IB_HCA
                  value: "{{ .Values.net.nccl_ib_hca }}"
                - name: NCCL_IB_TIMEOUT
                  value: "23"
                - name: NCCL_IB_RETRY_CNT
                  value: "11"
                - name: NCCL_IB_GID_INDEX
                  value: "3"
                - name: NCCL_IB_QPS_PER_CONNECTION
                  value: "4"
                - name: NCCL_IB_TC
                  value: "41"
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.name
                - name: POD_UID
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.uid
                - name: POD_IP
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: status.podIP
                - name: POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.namespace
                imagePullPolicy: IfNotPresent
                volumeMounts:
                  - name: shared-data
                    mountPath: /shared-data
                  - name: podinfo
                    mountPath: /etc/podinfo
                    readOnly: true
              schedulerName: kube-scheduler-plugins
              volumes:
                - name: shared-data
                  emptyDir: {}
                - name: podinfo
                  downwardAPI:
                    items:
                    - path: "labels"
                      fieldRef:
                        fieldPath: metadata.labels
              terminationGracePeriodSeconds: 5
        - groupName: "2"
          template:
            spec:
              dnsPolicy: ClusterFirstWithHostNet
              initContainers:
              - name: preprocess
                image: {{ .Values.global.image_registry }}/primussafe/{{ .Values.preprocess.image }}
                imagePullPolicy: IfNotPresent
                command: ["/bin/sh", "-c", "cp -r /preprocess/* /shared-data/"]
                securityContext:
                  capabilities:
                    add: [ "IPC_LOCK" ]
                resources:
                  limits:
                    cpu: 1000m
                    memory: 128Mi
                volumeMounts:
                  - name: shared-data
                    mountPath: /shared-data
              containers:
              - name: main
                env:
                - name: NCCL_SOCKET_IFNAME
                  value: "{{ .Values.net.nccl_socket_ifname }}"
                - name: GLOO_SOCKET_IFNAME
                  value: "{{ .Values.net.nccl_socket_ifname }}"
                - name: NCCL_IB_HCA
                  value: "{{ .Values.net.nccl_ib_hca }}"
                - name: NCCL_IB_TIMEOUT
                  value: "23"
                - name: NCCL_IB_RETRY_CNT
                  value: "11"
                - name: NCCL_IB_GID_INDEX
                  value: "3"
                - name: NCCL_IB_QPS_PER_CONNECTION
                  value: "4"
                - name: NCCL_IB_TC
                  value: "41"
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.name
                - name: POD_UID
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.uid
                - name: POD_IP
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: status.podIP
                - name: POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.namespace
                imagePullPolicy: IfNotPresent
                volumeMounts:
                  - name: shared-data
                    mountPath: /shared-data
                  - name: podinfo
                    mountPath: /etc/podinfo
                    readOnly: true
              schedulerName: kube-scheduler-plugins
              volumes:
                - name: shared-data
                  emptyDir: {}
                - name: podinfo
                  downwardAPI:
                    items:
                    - path: "labels"
                      fieldRef:
                        fieldPath: metadata.labels
              terminationGracePeriodSeconds: 5