#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: v1
kind: ConfigMap
metadata:
  name: amd-unified-job-template
  namespace: {{ .Release.Namespace }}
  labels:
    primus-safe.workload.version: v1
    primus-safe.workload.kind: UnifiedJob
    app.kubernetes.io/managed-by: Helm
  annotations:
    # The main container name should match the configuration defined in the template below
    primus-safe.main.container: pytorch
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
 template: |
    apiVersion: kubeflow.org/v1
    kind: PyTorchJob
    spec:
      pytorchReplicaSpecs:
        Master:
          restartPolicy: Never
          template:
            spec:
              dnsPolicy: ClusterFirstWithHostNet
              initContainers:
                - name: preprocess
                  image: {{ .Values.global.image_registry }}/primussafe/{{ .Values.preprocess.image }}
                  imagePullPolicy: IfNotPresent
                  command: ["/bin/sh", "-c", "cp -r /preprocess/* /shared-data/"]
                  securityContext:
                    capabilities:
                      add: [ "IPC_LOCK" ]
                  resources:
                    limits:
                      cpu: 1000m
                      memory: 128Mi
                  volumeMounts:
                  - name: shared-data
                    mountPath: /shared-data
                - name: init-dind-externals
                  command:
                  - cp
                  - -r
                  - /home/runner/externals/.
                  - /home/runner/tmpDir/
                  image: ghcr.io/actions/actions-runner:latest
                  volumeMounts:
                  - mountPath: /home/runner/tmpDir
                    name: dind-externals
                - name: dind
                  args:
                  - dockerd
                  - --host=unix:///var/run/docker.sock
                  - --group=$(DOCKER_GROUP_GID)
                  env:
                  - name: DOCKER_GROUP_GID
                    value: "123"
                  image: docker:dind
                  restartPolicy: Always
                  securityContext:
                    privileged: true
                  startupProbe:
                    exec:
                      command:
                      - docker
                      - info
                    failureThreshold: 24
                    initialDelaySeconds: 0
                    periodSeconds: 5
                  volumeMounts:
                  - mountPath: /home/runner/_work
                    name: work
                  - mountPath: /var/run
                    name: dind-sock
                  - mountPath: /home/runner/externals
                    name: dind-externals
              containers:
                - name: pytorch
                  imagePullPolicy: IfNotPresent
                  volumeMounts:
                    - name: shared-data
                      mountPath: /shared-data
                    - name: varlog
                      mountPath: /var/log
                    - name: podinfo
                      mountPath: /etc/podinfo
                      readOnly: true
                    - mountPath: /home/runner/_work
                      name: work
                    - mountPath: /var/run
                      name: dind-sock
                  env:
                    - name: RUNNER_ALLOW_RUNASROOT
                      value: "1"
                    - name: DOCKER_HOST
                      value: unix:///var/run/docker.sock
                    - name: RUNNER_WAIT_FOR_DOCKER_IN_SECONDS
                      value: "120"
                    - name: NCCL_SOCKET_IFNAME
                      value: "{{ .Values.net.nccl_socket_ifname }}"
                    - name: GLOO_SOCKET_IFNAME
                      value: "{{ .Values.net.nccl_socket_ifname }}"
                    - name: NCCL_IB_HCA
                      value: "{{ .Values.net.nccl_ib_hca }}"
                    - name: NCCL_IB_TIMEOUT
                      value: "23"
                    - name: NCCL_IB_RETRY_CNT
                      value: "11"
                    - name: NCCL_IB_GID_INDEX
                      value: "3"
                    - name: NCCL_IB_QPS_PER_CONNECTION
                      value: "4"
                    - name: NCCL_IB_TC
                      value: "41"
                    - name: MAIN_CONTAINER_NAME
                      value: "pytorch"
                    - name: POD_NAME
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.name
                    - name: POD_UID
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.uid
                    - name: POD_IP
                      valueFrom:
                        fieldRef:
                          fieldPath: status.podIP
                    - name: POD_NAMESPACE
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.namespace
                  securityContext:
                    capabilities:
                      add: [ "IPC_LOCK", "SYS_PTRACE", "SYS_RESOURCE"]
              schedulerName: kube-scheduler-plugins
              volumes:
                - name: shared-data
                  emptyDir: {}
                - name: varlog
                  hostPath:
                    path: /var/log
                - name: podinfo
                  downwardAPI:
                    items:
                    - path: "labels"
                      fieldRef:
                        fieldPath: metadata.labels
                - name: work
                  emptyDir: {}
                - name: dind-sock
                  emptyDir: {}
                - name: dind-externals
                  emptyDir: {}
              terminationGracePeriodSeconds: 5
        Worker:
          restartPolicy: Never
          template:
            spec:
              dnsPolicy: ClusterFirstWithHostNet
              initContainers:
                - name: preprocess
                  image: {{ .Values.global.image_registry }}/primussafe/{{ .Values.preprocess.image }}
                  imagePullPolicy: IfNotPresent
                  command: ["/bin/sh", "-c", "cp -r /preprocess/* /shared-data/"]
                  securityContext:
                    capabilities:
                      add: [ "IPC_LOCK" ]
                  resources:
                    limits:
                      cpu: 1000m
                      memory: 128Mi
                  volumeMounts:
                  - name: shared-data
                    mountPath: /shared-data
                - name: init-dind-externals
                  command:
                  - cp
                  - -r
                  - /home/runner/externals/.
                  - /home/runner/tmpDir/
                  image: ghcr.io/actions/actions-runner:latest
                  volumeMounts:
                  - mountPath: /home/runner/tmpDir
                    name: dind-externals
                - name: dind
                  args:
                  - dockerd
                  - --host=unix:///var/run/docker.sock
                  - --group=$(DOCKER_GROUP_GID)
                  env:
                  - name: DOCKER_GROUP_GID
                    value: "123"
                  image: docker:dind
                  restartPolicy: Always
                  securityContext:
                    privileged: true
                  startupProbe:
                    exec:
                      command:
                      - docker
                      - info
                    failureThreshold: 24
                    initialDelaySeconds: 0
                    periodSeconds: 5
                  volumeMounts:
                  - mountPath: /home/runner/_work
                    name: work
                  - mountPath: /var/run
                    name: dind-sock
                  - mountPath: /home/runner/externals
                    name: dind-externals
              containers:
                - name: pytorch
                  imagePullPolicy: IfNotPresent
                  env:
                    - name: RUNNER_ALLOW_RUNASROOT
                      value: "1"
                    - name: DOCKER_HOST
                      value: unix:///var/run/docker.sock
                    - name: RUNNER_WAIT_FOR_DOCKER_IN_SECONDS
                      value: "120"
                    - name: NCCL_SOCKET_IFNAME
                      value: "{{ .Values.net.nccl_socket_ifname }}"
                    - name: GLOO_SOCKET_IFNAME
                      value: "{{ .Values.net.nccl_socket_ifname }}"
                    - name: NCCL_IB_HCA
                      value: "{{ .Values.net.nccl_ib_hca }}"
                    - name: NCCL_IB_TIMEOUT
                      value: "23"
                    - name: NCCL_IB_RETRY_CNT
                      value: "11"
                    - name: NCCL_IB_GID_INDEX
                      value: "3"
                    - name: NCCL_IB_QPS_PER_CONNECTION
                      value: "4"
                    - name: NCCL_IB_TC
                      value: "41"
                    - name: MAIN_CONTAINER_NAME
                      value: "pytorch"
                    - name: POD_NAME
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.name
                    - name: POD_UID
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.uid
                    - name: POD_IP
                      valueFrom:
                        fieldRef:
                          fieldPath: status.podIP
                    - name: POD_NAMESPACE
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.namespace
                  securityContext:
                    capabilities:
                      add: [ "IPC_LOCK", "SYS_PTRACE", "SYS_RESOURCE"]
                  volumeMounts:
                    - name: shared-data
                      mountPath: /shared-data
                    - name: varlog
                      mountPath: /var/log
                    - name: podinfo
                      mountPath: /etc/podinfo
                      readOnly: true
                    - mountPath: /home/runner/_work
                      name: work
                    - mountPath: /var/run
                      name: dind-sock
              schedulerName: kube-scheduler-plugins
              volumes:
                - name: shared-data
                  emptyDir: {}
                - name: varlog
                  hostPath:
                    path: /var/log
                - name: podinfo
                  downwardAPI:
                    items:
                    - path: "labels"
                      fieldRef:
                        fieldPath: metadata.labels
                - name: work
                  emptyDir: {}
                - name: dind-sock
                  emptyDir: {}
                - name: dind-externals
                  emptyDir: {}
              terminationGracePeriodSeconds: 5
