#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: disable-numa-balancing
  labels:
    primus-safe.display.name: "disable-numa-balancing"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  category: System
  required: true
  description: Disable NUMA Balancing in the Linux kernel
  action: c3lzdGVtZF9wYXRoPSIvZXRjL3N5c3RlbWQvc3lzdGVtIgpzeXN0ZW1kX3NjcmlwdD0iJHN5c3RlbWRfcGF0aC9kaXNhYmxlLW51bWEtYmFsYW5jaW5nLnNoIgpzeXN0ZW1kX3NlcnZpY2VfbmFtZT0iZGlzYWJsZS1udW1hLWJhbGFuY2luZy5zZXJ2aWNlIgpzeXN0ZW1kX3NlcnZpY2VfcGF0aD0iJHN5c3RlbWRfcGF0aC8kc3lzdGVtZF9zZXJ2aWNlX25hbWUiCgppZiBbICEgLWYgIiRzeXN0ZW1kX3NjcmlwdCIgXTsgdGhlbgogIGVjaG8gIiMhL2Jpbi9zaApzeXNjdGwgLXcga2VybmVsLm51bWFfYmFsYW5jaW5nPTAiID4gJHN5c3RlbWRfc2NyaXB0CiAgY2htb2QgK3ggIiRzeXN0ZW1kX3NjcmlwdCIKZmkKaWYgWyAtZiAiJHN5c3RlbWRfc2VydmljZV9wYXRoIiBdOyB0aGVuCiAgZXhpdCAwCmZpCgpjYXQgPiAiJHN5c3RlbWRfc2VydmljZV9wYXRoIiA8PCAnRU9GJwpbVW5pdF0KRGVzY3JpcHRpb249RGlzYWJsZSBOVU1BIEJhbGFuY2luZwpBZnRlcj1uZXR3b3JrLnRhcmdldAoKW1NlcnZpY2VdClR5cGU9b25lc2hvdApFeGVjU3RhcnQ9L2Jpbi9zaCAvZXRjL3N5c3RlbWQvc3lzdGVtL2Rpc2FibGUtbnVtYS1iYWxhbmNpbmcuc2gKUmVtYWluQWZ0ZXJFeGl0PXllcwoKW0luc3RhbGxdCldhbnRlZEJ5PW11bHRpLXVzZXIudGFyZ2V0CkVPRgoKc3lzdGVtY3RsIGRhZW1vbi1yZWxvYWQgJiYgc3lzdGVtY3RsIGVuYWJsZSAiJHN5c3RlbWRfc2VydmljZV9uYW1lIiAmJiBzeXN0ZW1jdGwgc3RhcnQgIiRzeXN0ZW1kX3NlcnZpY2VfbmFtZSIKZXhpdCAkPwo=