#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: disable-os-upgrade
  labels:
    primus-safe.display.name: "disable-os-upgrade"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  category: System
  required: true
  description: Disable the operating system's automatic update feature. only for Ubuntu
  action: Y2F0IC9ldGMvYXB0L2FwdC5jb25mLmQvMjBhdXRvLXVwZ3JhZGVzIHxncmVwIFVuYXR0ZW5kZWQtVXBncmFkZXxhd2sgIntwcmludCBzdWJzdHIoXCQyLCAyLCAxKX0ifGdyZXAgLXEgMAppZiBbICQ/IC1lcSAwIF07IHRoZW4KICBleGl0IDAKZmkKYXB0LW1hcmsgaG9sZCB1bmF0dGVuZGVkLXVwZ3JhZGVzICYmIGFwdC1nZXQgdXBkYXRlICYmIHNlZCAtaSAtZSAicy9uYXR0ZW5kZWQtVXBncmFkZSBcIjFcIi9uYXR0ZW5kZWQtVXBncmFkZSBcIjBcIi9nIiAvZXRjL2FwdC9hcHQuY29uZi5kLzIwYXV0by11cGdyYWRlcwo=