apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: enable-cpu-performance
  labels:
    primus-safe.display.name: "enable-cpu-performance"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  category: System
  required: true
  description: Set all CPU frequency policy (governor) to performance mode
  action: c3lzdGVtZF9wYXRoPSIvZXRjL3N5c3RlbWQvc3lzdGVtIgpzeXN0ZW1kX3NjcmlwdD0iJHN5c3RlbWRfcGF0aC9lbmFibGUtY3B1LXBlcmZvcm1hbmNlLnNoIgpzeXN0ZW1kX3NlcnZpY2VfbmFtZT0iZW5hYmxlLWNwdS1wZXJmb3JtYW5jZS5zZXJ2aWNlIgpzeXN0ZW1kX3NlcnZpY2VfcGF0aD0iJHN5c3RlbWRfcGF0aC8kc3lzdGVtZF9zZXJ2aWNlX25hbWUiCgppZiBbICEgLWYgIiRzeXN0ZW1kX3NjcmlwdCIgXTsgdGhlbgogIGVjaG8gIiMhL2Jpbi9zaAplY2hvIHBlcmZvcm1hbmNlIHwgdGVlIC9zeXMvZGV2aWNlcy9zeXN0ZW0vY3B1L2NwdSovY3B1ZnJlcS9zY2FsaW5nX2dvdmVybm9yIiA+ICRzeXN0ZW1kX3NjcmlwdAogIGNobW9kICt4ICIkc3lzdGVtZF9zY3JpcHQiCmZpCmlmIFsgLWYgIiRzeXN0ZW1kX3NlcnZpY2VfcGF0aCIgXTsgdGhlbgogIGV4aXQgMApmaQoKY2F0ID4gIiRzeXN0ZW1kX3NlcnZpY2VfcGF0aCIgPDwgJ0VPRicKW1VuaXRdCkRlc2NyaXB0aW9uPVBlcmZvcm1hbmNlIFR1bmluZzogQ1BVIEdvdmVybm9yCkFmdGVyPW5ldHdvcmsudGFyZ2V0CgpbU2VydmljZV0KVHlwZT1vbmVzaG90CkV4ZWNTdGFydD0vYmluL3NoIC9ldGMvc3lzdGVtZC9zeXN0ZW0vZW5hYmxlLWNwdS1wZXJmb3JtYW5jZS5zaApSZW1haW5BZnRlckV4aXQ9eWVzCgpbSW5zdGFsbF0KV2FudGVkQnk9bXVsdGktdXNlci50YXJnZXQKRU9GCgpzeXN0ZW1jdGwgZGFlbW9uLXJlbG9hZCAmJiBzeXN0ZW1jdGwgZW5hYmxlICIkc3lzdGVtZF9zZXJ2aWNlX25hbWUiICYmIHN5c3RlbWN0bCBzdGFydCAiJHN5c3RlbWRfc2VydmljZV9uYW1lIgpleGl0ICQ/Cg==