apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: enable-huge-pages
  labels:
    primus-safe.display.name: "enable-huge-pages"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  category: System
  description: Enable Transparent Huge Pages (THP), reducing TLB misses and improving memory access performance.
  action: c3lzdGVtZF9wYXRoPSIvZXRjL3N5c3RlbWQvc3lzdGVtIgpzeXN0ZW1kX3NjcmlwdD0iJHN5c3RlbWRfcGF0aC9lbmFibGUtaHVnZS1wYWdlcy5zaCIKc3lzdGVtZF9zZXJ2aWNlX25hbWU9ImVuYWJsZS1odWdlLXBhZ2VzLnNlcnZpY2UiCnN5c3RlbWRfc2VydmljZV9wYXRoPSIkc3lzdGVtZF9wYXRoLyRzeXN0ZW1kX3NlcnZpY2VfbmFtZSIKCmlmIFsgISAtZiAiJHN5c3RlbWRfc2NyaXB0IiBdOyB0aGVuCiAgZWNobyAiIyEvYmluL3NoCmVjaG8gYWx3YXlzID4gL3N5cy9rZXJuZWwvbW0vdHJhbnNwYXJlbnRfaHVnZXBhZ2UvZW5hYmxlZAplY2hvIGFsd2F5cyA+IC9zeXMva2VybmVsL21tL3RyYW5zcGFyZW50X2h1Z2VwYWdlL2RlZnJhZyIgPiAkc3lzdGVtZF9zY3JpcHQKICBjaG1vZCAreCAiJHN5c3RlbWRfc2NyaXB0IgpmaQppZiBbIC1mICIkc3lzdGVtZF9zZXJ2aWNlX3BhdGgiIF07IHRoZW4KICBleGl0IDAKZmkKCmNhdCA+ICIkc3lzdGVtZF9zZXJ2aWNlX3BhdGgiIDw8ICdFT0YnCltVbml0XQpEZXNjcmlwdGlvbj1QZXJmb3JtYW5jZSBUdW5pbmc6IFRIUApBZnRlcj1uZXR3b3JrLnRhcmdldAoKW1NlcnZpY2VdClR5cGU9b25lc2hvdApFeGVjU3RhcnQ9L2Jpbi9zaCAvZXRjL3N5c3RlbWQvc3lzdGVtL2VuYWJsZS1odWdlLXBhZ2VzLnNoClJlbWFpbkFmdGVyRXhpdD15ZXMKCltJbnN0YWxsXQpXYW50ZWRCeT1tdWx0aS11c2VyLnRhcmdldApFT0YKCnN5c3RlbWN0bCBkYWVtb24tcmVsb2FkICYmIHN5c3RlbWN0bCBlbmFibGUgIiRzeXN0ZW1kX3NlcnZpY2VfbmFtZSIgJiYgc3lzdGVtY3RsIHN0YXJ0ICIkc3lzdGVtZF9zZXJ2aWNlX25hbWUiCmV4aXQgJD8K