apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: load-amdgpu-module
  labels:
    primus-safe.display.name: "load-amdgpu-module"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  category: GPU
  gpuChip: amd
  description: Load the AMD GPU module on a Linux system
  action: c3lzdGVtZF9wYXRoPSIvZXRjL3N5c3RlbWQvc3lzdGVtIgpzeXN0ZW1kX3NjcmlwdD0iJHN5c3RlbWRfcGF0aC9sb2FkLWFtZGdwdS1tb2R1bGUuc2giCnN5c3RlbWRfc2VydmljZV9uYW1lPSJsb2FkLWFtZGdwdS1tb2R1bGUuc2VydmljZSIKc3lzdGVtZF9zZXJ2aWNlX3BhdGg9IiRzeXN0ZW1kX3BhdGgvJHN5c3RlbWRfc2VydmljZV9uYW1lIgoKaWYgWyAhIC1mICIkc3lzdGVtZF9zY3JpcHQiIF07IHRoZW4KICBlY2hvICIjIS9iaW4vc2gKbW9kcHJvYmUgYW1kZ3B1IiA+ICRzeXN0ZW1kX3NjcmlwdAogIGNobW9kICt4ICIkc3lzdGVtZF9zY3JpcHQiCmZpCmlmIFsgLWYgIiRzeXN0ZW1kX3NlcnZpY2VfcGF0aCIgXTsgdGhlbgogIGV4aXQgMApmaQoKY2F0ID4gIiRzeXN0ZW1kX3NlcnZpY2VfcGF0aCIgPDwgJ0VPRicKW1VuaXRdCkRlc2NyaXB0aW9uPUF1dG8gbG9hZCBhbWRncHUgCkFmdGVyPW5ldHdvcmsudGFyZ2V0CgpbU2VydmljZV0KVHlwZT1vbmVzaG90CkV4ZWNTdGFydD0vYmluL3NoIC9ldGMvc3lzdGVtZC9zeXN0ZW0vbG9hZC1hbWRncHUtbW9kdWxlLnNoClJlbWFpbkFmdGVyRXhpdD15ZXMKCltJbnN0YWxsXQpXYW50ZWRCeT1tdWx0aS11c2VyLnRhcmdldApFT0YKCnN5c3RlbWN0bCBkYWVtb24tcmVsb2FkICYmIHN5c3RlbWN0bCBlbmFibGUgIiRzeXN0ZW1kX3NlcnZpY2VfbmFtZSIgJiYgc3lzdGVtY3RsIHN0YXJ0ICIkc3lzdGVtZF9zZXJ2aWNlX25hbWUiCmV4aXQgJD8K