---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: roles.amd.com
spec:
  group: amd.com
  names:
    kind: Role
    listKind: RoleList
    plural: roles
    singular: role
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          rules:
            items:
              properties:
                grantedUsers:
                  description: |-
                    grantedUsers is a list of users permitted to access the resource.
                    Setting 'owner' means that only the resource owner is allowed
                    Setting 'workspace-user' means that users of the workspace are allowed
                    '*' represents all users are allowed.
                  items:
                    type: string
                  type: array
                resources:
                  description: |-
                    Resources is a list of resources this rule applies to. '*' represents all resources.
                    e.g. workload, workspace/dev
                  items:
                    type: string
                  type: array
                verbs:
                  description: |-
                    Verbs is a list of Verbs that apply to ALL the ResourceKinds contained in this rule.
                    '*' represents all verbs.
                  items:
                    type: string
                  type: array
              required:
              - resources
              - verbs
              type: object
            type: array
        required:
        - rules
        type: object
    served: true
    storage: true
    subresources:
      status: {}
