apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: load-amdgpu-module
  labels:
    primus-safe.display.name: "load-amdgpu-module"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  type: systemd
  category: GPU
  gpuChip: amd
  isOneShotService: true
  description: Load the AMD GPU module on a Linux system
  extensions:
    action: bW9kcHJvYmUgYW1kZ3B1Cg==