#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: amd.com/v1
kind: Role
metadata:
  name: system-admin
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
rules:
- resources:
    - "*"
  grantedUsers:
    - "*"
  verbs:
    - "*"
---
apiVersion: amd.com/v1
kind: Role
metadata:
  name: system-admin-readonly
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
rules:
  - resources:
      - "*"
    grantedUsers:
      - "*"
    verbs:
      - get
      - list
---
apiVersion: amd.com/v1
kind: Role
metadata:
  name: default
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
rules:
- resources:
    - workload
    - workload/low-priority
    - workload/med-priority
    - user
    - secret
    - opsjob
    - opsjob/preflight
    - opsjob/download
    - opsjob/dumplog
  grantedUsers:
    - owner
  verbs:
    - get
    - list
    - update
    - delete
- resources:
    - workload
    - workload/low-priority
    - workload/med-priority
  grantedUsers:
    - workspace-user
  verbs:
    - create
    - get
    - list
- resources:
    - node
  grantedUsers:
    - workspace-user
  verbs:
    - update
- resources:
    - node
    - workspace
    - user
    - opsjob/preflight
    - opsjob/download
    - opsjob/dumplog
  grantedUsers:
    - workspace-user
  verbs:
    - get
    - list
- resources:
    - cluster
    - nodeflavor
    - nodetemplate
    - imageregister
  grantedUsers:
    - "*"
  verbs:
    - get
    - list
- resources:
    - publickey
    - imageimport
  grantedUsers:
    - "*"
  verbs:
    - "*"
- resources:
    - secret
    - opsjob/preflight
    - opsjob/download
    - opsjob/dumplog
  grantedUsers:
    - workspace-user
  verbs:
    - create
---
apiVersion: amd.com/v1
kind: Role
metadata:
  name: workspace-admin
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
rules:
- resources:
    - workload
    - workspace
    - workload/high-priority
    - workload/med-priority
    - workload/low-priority
    - workload/privileged
  grantedUsers:
    - workspace-user
  verbs:
    - "*"
- resources:
    - user/workspace
  grantedUsers:
    - workspace-user
  verbs:
    - update
- resources:
    - user
  grantedUsers:
    - "*"
  verbs:
    - list
- resources:
    - secret
  grantedUsers:
    - workspace-user
  verbs:
    - list
