#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#
{{- if .Values.grafana.enable }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: primus-safe-nginx-config
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
  nginx.conf: |
    worker_processes 1;
    events { worker_connections 1024; }
    http {
      include       mime.types;
      default_type  application/octet-stream;
      map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
      }
      server {
        listen 80;
        server_name _;
        location / {
          proxy_pass http://primus-safe-web.primus-safe.svc.cluster.local:80;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection $connection_upgrade;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_read_timeout 3600s;
          proxy_send_timeout 3600s;
        }
        location /grafana {
          proxy_pass http://grafana-service.primus-safe.svc.cluster.local:3000;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_redirect default;
        }
        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: primus-safe-nginx
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: primus-safe-nginx
  template:
    metadata:
      labels:
        app: primus-safe-nginx
    spec:
      containers:
        - name: nginx
          image: docker.io/library/nginx:latest
          ports:
            - containerPort: 80
              hostPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          resources:
            limits:
              cpu: 2000m
              memory: 1Gi
            requests:
              cpu: 2000m
              memory: 1Gi
      volumes:
        - name: nginx-config
          configMap:
            name: primus-safe-nginx-config
            items:
              - key: nginx.conf
                path: nginx.conf
      {{- if .Values.global.image_pull_secret }}
      imagePullSecrets:
        - name: {{ .Values.global.image_pull_secret }}
      {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: primus-safe-nginx
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  ports:
    - nodePort: 30183
      port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: primus-safe-nginx
  sessionAffinity: None
  type: NodePort
{{- end }}