#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: amd.com/v1
kind: ResourceTemplate
metadata:
  name: pytorch-job
  labels:
    app.kubernetes.io/managed-by: Helm
    primus-safe.workload.kind: PyTorchJob
    primus-safe.workload.version: v1
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  groupVersionKind:
    group: kubeflow.org
    version: v1
    kind: PyTorchJob
  resourceSpecs:
    - prePaths:
        - spec
        - pytorchReplicaSpecs
        - Master
      templatePaths:
        - template
      replicasPaths:
        - replicas
      replica: 1
    - prePaths:
        - spec
        - pytorchReplicaSpecs
        - Worker
      templatePaths:
        - template
      replicasPaths:
        - replicas
  resourceStatus:
    prePaths:
      - status
      - conditions
    messagePaths:
      - message
    reasonPaths:
      - reason
    phases:
      - matchExpressions:
          status: 'True'
          type: Succeeded
        phase: K8sSucceeded
      - matchExpressions:
          status: 'True'
          type: Failed
        phase: K8sFailed
      - matchExpressions:
          status: 'True'
          type: FailedValidation
        phase: K8sFailed
      - matchExpressions:
          status: 'True'
          type: Running
        phase: K8sRunning
  activeReplica:
    prePaths:
      - status
      - replicaStatuses
    replicaPath: active
---
apiVersion: amd.com/v1
kind: ResourceTemplate
metadata:
  name: pod
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  groupVersionKind:
    group: ""
    version: v1
    kind: Pod
---
apiVersion: amd.com/v1
kind: ResourceTemplate
metadata:
  name: authoring
  labels:
    app.kubernetes.io/managed-by: Helm
    primus-safe.workload.kind: Authoring
    primus-safe.workload.version: v1
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  groupVersionKind:
    group: kubeflow.org
    version: v1
    kind: PyTorchJob
  resourceSpecs:
    - prePaths:
        - spec
        - pytorchReplicaSpecs
        - Master
      templatePaths:
        - template
      replicasPaths:
        - replicas
      replica: 1
  resourceStatus:
    prePaths:
      - status
      - conditions
    messagePaths:
      - message
    reasonPaths:
      - reason
    phases:
      - matchExpressions:
          status: 'True'
          type: Succeeded
        phase: K8sSucceeded
      - matchExpressions:
          status: 'True'
          type: Failed
        phase: K8sFailed
      - matchExpressions:
          status: 'True'
          type: FailedValidation
        phase: K8sFailed
      - matchExpressions:
          status: 'True'
          type: Running
        phase: K8sRunning
  activeReplica:
    prePaths:
      - status
      - replicaStatuses
    replicaPath: active
---
apiVersion: amd.com/v1
kind: ResourceTemplate
metadata:
  name: event
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  groupVersionKind:
    group: ""
    version: v1
    kind: Event
---
apiVersion: amd.com/v1
kind: ResourceTemplate
metadata:
  name: deployment
  labels:
    app.kubernetes.io/managed-by: Helm
    primus-safe.workload.kind: Deployment
    primus-safe.workload.version: v1
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  groupVersionKind:
    group: apps
    version: v1
    kind: Deployment
  resourceSpecs:
    - prePaths:
        - spec
      templatePaths:
        - template
      replicasPaths:
        - replicas
  resourceStatus:
    prePaths:
      - status
      - conditions
    messagePaths:
      - message
    reasonPaths:
      - reason
    phases:
      - matchExpressions:
          status: 'False'
          type: Available
        phase: K8sFailed
      - matchExpressions:
          reason: ReplicaSetUpdated
          status: 'True'
          type: Progressing
        phase: K8sUpdating
      - matchExpressions:
          status: 'True'
          type: Available
        phase: K8sRunning
  activeReplica:
    prePaths:
      - status
    replicaPath: availableReplicas
---
apiVersion: amd.com/v1
kind: ResourceTemplate
metadata:
  name: stateful-set
  labels:
    app.kubernetes.io/managed-by: Helm
    primus-safe.workload.kind: StatefulSet
    primus-safe.workload.version: v1
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  groupVersionKind:
    group: apps
    version: v1
    kind: StatefulSet
  resourceSpecs:
    - prePaths:
        - spec
      templatePaths:
        - template
      replicasPaths:
        - replicas
  resourceStatus:
    prePaths:
      - status
      - conditions
    messagePaths:
      - message
    reasonPaths:
      - reason
  activeReplica:
    prePaths:
      - status
    replicaPath: availableReplicas
---
apiVersion: amd.com/v1
kind: ResourceTemplate
metadata:
  name: job
  labels:
    app.kubernetes.io/managed-by: Helm
    primus-safe.workload.kind: Job
    primus-safe.workload.version: v1
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  groupVersionKind:
    group: batch
    version: v1
    kind: Job
  resourceSpecs:
    - prePaths:
        - spec
      templatePaths:
        - template
      replicasPaths:
        - parallelism
  resourceStatus:
    prePaths:
      - status
      - conditions
    messagePaths:
      - message
    reasonPaths:
      - reason
    phases:
      - matchExpressions:
          status: 'True'
          type: Complete
        phase: K8sSucceeded
      - matchExpressions:
          status: 'True'
          type: Failed
        phase: K8sFailed
  activeReplica:
    prePaths:
      - status
    replicaPath: active