apiVersion: operator.victoriametrics.com/v1beta1
kind: VMCluster
metadata:
  name: primus-lens-metrics
  namespace: primus-lens
spec:
  retentionPeriod: "24"
  replicationFactor: 1
  vmstorage:
    replicaCount: 3
    rollingUpdateStrategy: RollingUpdate
    storageDataPath: "/victoria-metrics-data"
    resources:
      limits:
        cpu: 8
        memory: 32Gi
      requests:
        cpu: 8
        memory: 32Gi
    storage:
      volumeClaimTemplate:
        metadata:
          annotations:
            operator.victoriametrics.com/pvc-allow-volume-expansion: "true"
        spec:
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: 3Ti
          storageClassName: rbd
  vmselect:
    replicaCount: 3
    resources:
      limits:
        cpu: 4
        memory: 8Gi
      requests:
        cpu: 4
        memory: 8Gi
  vminsert:
    replicaCount: 3
    extraArgs:
      maxInsertRequestSize: "1000000000"
    resources:
      limits:
        cpu: 2
        memory: 8Gi
      requests:
        cpu: 2
        memory: 8Gi