{{- if and (eq (include "primus-lens.middleware.enabled" .) "true") .Values.middleware.victoriametrics.enabled .Values.kubeStateMetrics.enabled }}
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: kube-state-metrics
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "primus-lens.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: kube-state-metrics
  namespaceSelector:
    matchNames:
      - kube-system
  endpoints:
  - port: http-metrics
    interval: 30s
{{- end }}

