#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: enable-huge-pages
  labels:
    primus-safe.display.name: "enable-huge-pages"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  category: System
  required: true
  description: Enable Transparent Huge Pages (THP), reducing TLB misses and improving memory access performance, but it will cause increased latency.
  action: c3lzdGVtZF9wYXRoPSIvZXRjL3N5c3RlbWQvc3lzdGVtIgpzeXN0ZW1kX3NjcmlwdD0iJHN5c3RlbWRfcGF0aC9lbmFibGUtaHVnZS1wYWdlcy5zaCIKc3lzdGVtZF9zZXJ2aWNlX25hbWU9ImVuYWJsZS1odWdlLXBhZ2VzLnNlcnZpY2UiCnN5c3RlbWRfc2VydmljZV9wYXRoPSIkc3lzdGVtZF9wYXRoLyRzeXN0ZW1kX3NlcnZpY2VfbmFtZSIKCmVjaG8gIiMhL2Jpbi9zaAplY2hvIGFsd2F5cyA+IC9zeXMva2VybmVsL21tL3RyYW5zcGFyZW50X2h1Z2VwYWdlL2VuYWJsZWQKZWNobyBtYWR2aXNlID4gL3N5cy9rZXJuZWwvbW0vdHJhbnNwYXJlbnRfaHVnZXBhZ2UvZGVmcmFnIiA+ICRzeXN0ZW1kX3NjcmlwdApjaG1vZCAreCAiJHN5c3RlbWRfc2NyaXB0IgoKY2F0ID4gIiRzeXN0ZW1kX3NlcnZpY2VfcGF0aCIgPDwgJ0VPRicKW1VuaXRdCkRlc2NyaXB0aW9uPVBlcmZvcm1hbmNlIFR1bmluZzogVEhQCkFmdGVyPW5ldHdvcmsudGFyZ2V0CgpbU2VydmljZV0KVHlwZT1vbmVzaG90CkV4ZWNTdGFydD0vYmluL3NoIC9ldGMvc3lzdGVtZC9zeXN0ZW0vZW5hYmxlLWh1Z2UtcGFnZXMuc2gKUmVtYWluQWZ0ZXJFeGl0PXllcwoKW0luc3RhbGxdCldhbnRlZEJ5PW11bHRpLXVzZXIudGFyZ2V0CkVPRgoKc3lzdGVtY3RsIGRhZW1vbi1yZWxvYWQgJiYgc3lzdGVtY3RsIGVuYWJsZSAiJHN5c3RlbWRfc2VydmljZV9uYW1lIiAmJiBzeXN0ZW1jdGwgc3RhcnQgIiRzeXN0ZW1kX3NlcnZpY2VfbmFtZSIKZXhpdCAkPwo=