#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: set-gpu-passthrough
  labels:
    primus-safe.display.name: "set-gpu-passthrough"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  category: System
  required: false
  description: Configures kernel parameters to optimize the host for GPU passthrough and high-performance AI workloads. Using flags like "pci=realloc=off". Manual reboot required to apply changes
  action: dGFyZ2V0PSdHUlVCX0NNRExJTkVfTElOVVg9InBjaT1yZWFsbG9jPW9mZiBwY2k9YmZzb3J0IGlvbW11PXB0IG51bWFfYmFsYW5jaW5nPWRpc2FibGUgbW9kcHJvYmUuYmxhY2tsaXN0PWFtZGdwdSInCmlmIGdyZXAgLXFGICdwY2k9cmVhbGxvYz1vZmYgcGNpPWJmc29ydCBpb21tdT1wdCBudW1hX2JhbGFuY2luZz1kaXNhYmxlIG1vZHByb2JlLmJsYWNrbGlzdD1hbWRncHUnIC9ldGMvZGVmYXVsdC9ncnViOyB0aGVuCiAgZXhpdCAwCmZpCmNwIC9ldGMvZGVmYXVsdC9ncnViIC9ldGMvZGVmYXVsdC9ncnViLmJhawppZiBncmVwIC1xICdeR1JVQl9DTURMSU5FX0xJTlVYPScgL2V0Yy9kZWZhdWx0L2dydWI7IHRoZW4KICBzZWQgLWkgJ3MvXkdSVUJfQ01ETElORV9MSU5VWD0uKi8nIiR0YXJnZXQiJy8nIC9ldGMvZGVmYXVsdC9ncnViCmVsc2UKICBlY2hvICIkdGFyZ2V0IiA+PiAvZXRjL2RlZmF1bHQvZ3J1YgpmaQp1cGRhdGUtZ3J1Ygo=