{{- if .Values.systemTuner.enabled }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "primus-lens.fullname" . }}-system-tuner
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "primus-lens.labels" . | nindent 4 }}
    app.kubernetes.io/component: system-tuner
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
spec:
  selector:
    matchLabels:
      app: system-tuner
      {{- include "primus-lens.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: system-tuner
        {{- include "primus-lens.selectorLabels" . | nindent 8 }}
    spec:
      hostPID: true
      hostIPC: true
      hostNetwork: true
      serviceAccountName: {{ include "primus-lens.serviceAccountName" . }}
      containers:
      - name: system-tuner
        image: {{ .Values.global.imageRegistry }}/{{ .Values.systemTuner.image.repository }}:{{ .Values.systemTuner.image.tag }}
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        securityContext:
          privileged: true
          capabilities:
            add:
              - SYS_ADMIN
        env:
        - name: CHECK_INTERVAL
          value: {{ .Values.systemTuner.checkInterval | quote }}
        - name: VM_MAX_MAP_COUNT
          value: {{ .Values.systemTuner.parameters.vmMaxMapCount | quote }}
        - name: NOFILE_LIMIT
          value: {{ .Values.systemTuner.parameters.nofileLimit | quote }}
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        volumeMounts:
        - name: host-sys
          mountPath: /host/sys
        - name: host-proc
          mountPath: /host/proc
      volumes:
      - name: host-sys
        hostPath:
          path: /sys
      - name: host-proc
        hostPath:
          path: /proc
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}

