apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: rccl-all-reduce
  labels:
    primus-safe.display.name: "rccl-all-reduce"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  type: validation
  category: System
  gpuChip: amd
  gpuProduct: MI300X
  description: Use the command "all_reduce_perf" to evaluate the AllReduce operator using the RCCL tests benchmark
  extensions:
    action: UkVQT19VUkw9Imh0dHBzOi8vZ2l0aHViLmNvbS9ST0NtL3JjY2wtdGVzdHMuZ2l0IgpESVJfTkFNRT0icmNjbC10ZXN0cyIKaWYgWyAhIC1kICIkRElSX05BTUUiIF07IHRoZW4KICBnaXQgY2xvbmUgIiRSRVBPX1VSTCIgPi9kZXYvbnVsbCAyPmVycm9yCiAgaWYgWyAkPyAtbmUgMCBdOyB0aGVuCiAgICBjYXQgZXJyb3IgJiYgcm0gLWYgZXJyb3IKICAgIGVjaG8gIltFUlJPUl06IGZhaWxlZCB0byBjbG9uZSAkUkVQT19VUkwiCiAgICBleGl0IDEKICBmaQogIHJtIC1mIGVycm9yCmZpCmNkICIkRElSX05BTUUiIHx8IHsgZWNobyAiW0VSUk9SXTogdW5hYmxlIHRvIGFjY2VzcyAkRElSX05BTUUiOyBleGl0IDE7IH0KaWYgWyAhIC1mIC4vYnVpbGQvYWxsX3JlZHVjZV9wZXJmIF07IHRoZW4gCiAgbWFrZSBOQ0NMX0hPTUU9L29wdC9yb2NtLyA+L2Rldi9udWxsIDI+ZXJyb3IKICBpZiBbICQ/IC1uZSAwIF07IHRoZW4KICAgIGNhdCBlcnJvciAmJiBybSAtZiBlcnJvcgogICAgZWNobyAiW0VSUk9SXTogZmFpbGVkIHRvIG1ha2UiCiAgICBleGl0IDEKICBmaQogIHJtIC1mIGVycm9yCmZpCgpMT0dfRklMRT0iL3RtcC9hbGxfcmVkdWNlX3BlcmYubG9nIgouL2J1aWxkL2FsbF9yZWR1Y2VfcGVyZiAtYiA4IC1lIDhHIC1mIDIgLWcgOCA+JExPR19GSUxFIDI+JjEKRVhJVF9DT0RFPSQ/CmlmIFsgJEVYSVRfQ09ERSAtbmUgMCBdOyB0aGVuCiAgY2F0ICRMT0dfRklMRSAmJiBybSAtZiAkTE9HX0ZJTEUKICBlY2hvICJbRVJST1JdOiBhbGxfcmVkdWNlX3BlcmYgZmFpbGVkIHdpdGggZXhpdCBjb2RlOiAkRVhJVF9DT0RFIgogIGV4aXQgMQpmaQoKYnVzYnc9YGdyZXAgIjg1ODk5MzQ1OTIiICRMT0dfRklMRSB8Z3JlcCAiMjE0NzQ4MzY0OCIgfGF3ayAne3ByaW50ICQ4fSdgCnJtIC1mICRMT0dfRklMRQppZiAhIFtbICIkYnVzYnciID1+IF5bMC05XSsoXC5bMC05XSspPyQgXV07IHRoZW4KICBlY2hvICJbRVJST1JdIGludmFsaWQgYnVzYnciCiAgZXhpdCAxCmZpCmlmICgoICQoZWNobyAiJGJ1c2J3IDwgMzA0IiB8IGJjIC1sKSApKTsgdGhlbgogIGVjaG8gIltFUlJPUl0gVGhlIFJDQ0wgYWxsLXJlZHVjZSB0ZXN0IHJlc3VsdCgkYnVzYncgR0IvcykgaXMgbGVzcyB0aGFuIHRoZSB0aHJlc2hvbGQoMzA0IEdCL3MpIGF0IGEgbWVzc2FnZSBzaXplIG9mIDg1ODk5MzQ1OTJCLiIKICBleGl0IDEKZmkKZWNobyAiW1NVQ0NFU1NdIHJjY2wgYWxsLXJlZHVjZSB0ZXN0IHBhc3NlZCBzdWNjZXNzZnVsbHksIHJlc3VsdDogJGJ1c2J3IEdCL3MiCmV4aXQgMAo=
