apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: rvs-mi300x-performance
  labels:
    primus-safe.display.name: "rvs-mi300x-performance"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  type: validation
  category: System
  gpuChip: amd
  gpuProduct: MI300X
  description: Use the command "rvs -c gst_single.conf" to stress the GPU FLOPS performance. This script can only be run on AMD MI300X chips.
  extensions:
    action: ZHBrZyAtbCB8IGdyZXAgLXEgcm9jbS12YWxpZGF0aW9uLXN1aXRlCmlmIFsgJD8gLW5lIDAgXTsgdGhlbgogIGFwdC1nZXQgdXBkYXRlID4vZGV2L251bGwgMj4mMQogIGFwdCBpbnN0YWxsIC15IHJvY20tdmFsaWRhdGlvbi1zdWl0ZSA+L2Rldi9udWxsIDI+ZXJyb3IKICBpZiBbICQ/IC1uZSAwIF07IHRoZW4KICAgIGNhdCBlcnJvciAmJiBybSAtZiBlcnJvcgogICAgZWNobyAiW0VSUk9SXSBmYWlsZWQgdG8gaW5zdGFsbCByb2NtLXZhbGlkYXRpb24tc3VpdGUiCiAgICBleGl0IDEKICBmaQogIHJtIC1mIGVycm9yCmZpCgpleHBvcnQgUEFUSD0kUEFUSDovb3B0L3JvY20vYmluCmV4cG9ydCBSVlNfQ09ORj0vb3B0L3JvY20vc2hhcmUvcm9jbS12YWxpZGF0aW9uLXN1aXRlL2NvbmYKT1VUUFVUPSQocnZzIC1jICIke1JWU19DT05GfS9NSTMwMFgvZ3N0X3NpbmdsZS5jb25mIiAyPiYxKQpFWElUX0NPREU9JD8KaWYgWyAkRVhJVF9DT0RFIC1uZSAwIF07IHRoZW4KICBlY2hvICIkT1VUUFVUIgogIGVjaG8gIltFUlJPUl0gcnZzIGNvbW1hbmQgZmFpbGVkIHdpdGggZXhpdCBjb2RlOiAkRVhJVF9DT0RFIgogIGV4aXQgMQpmaQoKdG1wZmlsZT0iL3RtcC9tYXRjaF9saW5lcy50eHQiCmVjaG8gIiRPVVRQVVQiIHwgZ3JlcCAibWV0OiBGQUxTRSIgPiAkdG1wZmlsZQppZiBbIC1zIC90bXAvbWF0Y2hfbGluZXMudHh0IF07IHRoZW4KICAgIGNhdCAkdG1wZmlsZSAmJiBybSAtZiAkdG1wZmlsZQogICAgZWNobyAiW0VSUk9SXSBGb3VuZCAnbWV0OiBGQUxTRScgaW4gb3V0cHV0LiBNYXRjaGluZyBsaW5lczoiCiAgICBleGl0IDEKZWxzZQogICAgZWNobyAiW1NVQ0NFU1NdIEFsbCB0ZXN0cyBwYXNzZWQuIgpmaQpybSAtZiAkdG1wZmlsZQpleGl0IDAK

