apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: rvs-mi300x-power
  labels:
    primus-safe.display.name: "rvs-mi300x-power"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  type: validation
  category: System
  gpuChip: amd
  gpuProduct: MI300X
  description: Use the command "rvs -c iet_single.conf" to stress the GPU power. This script can only be run on AMD MI300X chips.
  extensions:
    action: ZHBrZyAtbCB8IGdyZXAgLXEgcm9jbS12YWxpZGF0aW9uLXN1aXRlCmlmIFsgJD8gLW5lIDAgXTsgdGhlbgogIGFwdC1nZXQgdXBkYXRlCiAgYXB0IGluc3RhbGwgLXkgcm9jbS12YWxpZGF0aW9uLXN1aXRlCiAgaWYgWyAkPyAtbmUgMCBdOyB0aGVuCiAgICBlY2hvICJbRVJST1JdIGZhaWxlZCB0byBpbnN0YWxsIHJvY20tdmFsaWRhdGlvbi1zdWl0ZSIKICAgIGV4aXQgMQogIGZpIApmaQoKZXhwb3J0IFBBVEg9JFBBVEg6L29wdC9yb2NtL2JpbgpleHBvcnQgUlZTX0NPTkY9L29wdC9yb2NtL3NoYXJlL3JvY20tdmFsaWRhdGlvbi1zdWl0ZS9jb25mCk9VVFBVVD0kKHJ2cyAtYyAiJHtSVlNfQ09ORn0vTUkzMDBYL2lldF9zaW5nbGUuY29uZiIgMj4mMSkKRVhJVF9DT0RFPSQ/CmlmIFsgJEVYSVRfQ09ERSAtbmUgMCBdOyB0aGVuCiAgZWNobyAiW0VSUk9SXSBydnMgY29tbWFuZCBmYWlsZWQgd2l0aCBleGl0IGNvZGU6ICRFWElUX0NPREUiCiAgZWNobyAiJE9VVFBVVCIKICBleGl0IDEKZmkKCnRtcGZpbGU9Ii90bXAvbWF0Y2hfbGluZXMudHh0IgplY2hvICIkT1VUUFVUIiB8IGdyZXAgInBhc3M6IEZBTFNFIiA+ICR0bXBmaWxlCmlmIFsgLXMgL3RtcC9tYXRjaF9saW5lcy50eHQgXTsgdGhlbgogICAgZWNobyAiW0VSUk9SXSBGb3VuZCAncGFzczogRkFMU0UnIGluIG91dHB1dC4gTWF0Y2hpbmcgbGluZXM6IgogICAgY2F0ICR0bXBmaWxlCiAgICBybSAtZiAkdG1wZmlsZQogICAgZXhpdCAxCmVsc2UKICAgIGVjaG8gIltTVUNDRVNTXSBBbGwgdGVzdHMgcGFzc2VkLiIKZmkKcm0gLWYgJHRtcGZpbGUKZXhpdCAwCg==