apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: rvs-gpu-memory
  labels:
    primus-safe.display.name: "rvs-gpu-memory"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  type: validation
  category: System
  gpuChip: amd
  description: Use the command "rvs -c mem.conf" to test the GPU memory for hardware errors and soft errors
  extensions:
    action: ZHBrZyAtbCB8IGdyZXAgLXEgcm9jbS12YWxpZGF0aW9uLXN1aXRlCmlmIFsgJD8gLW5lIDAgXTsgdGhlbgogIGFwdC1nZXQgdXBkYXRlID4vZGV2L251bGwgMj4mMQogIGFwdCBpbnN0YWxsIC15IHJvY20tdmFsaWRhdGlvbi1zdWl0ZSA+L2Rldi9udWxsIDI+ZXJyb3IKICBpZiBbICQ/IC1uZSAwIF07IHRoZW4KICAgIGNhdCBlcnJvciAmJiBybSAtZiBlcnJvcgogICAgZWNobyAiW0VSUk9SXSBmYWlsZWQgdG8gaW5zdGFsbCByb2NtLXZhbGlkYXRpb24tc3VpdGUiCiAgICBleGl0IDEKICBmaQogIHJtIC1mIGVycm9yCmZpCgpleHBvcnQgUEFUSD0kUEFUSDovb3B0L3JvY20vYmluCmV4cG9ydCBSVlNfQ09ORj0vb3B0L3JvY20vc2hhcmUvcm9jbS12YWxpZGF0aW9uLXN1aXRlL2NvbmYKT1VUUFVUPSQocnZzIC1jICIke1JWU19DT05GfS9tZW0uY29uZiIgLWwgbWVtLnR4dCAyPiYxKQpFWElUX0NPREU9JD8KaWYgWyAkRVhJVF9DT0RFIC1uZSAwIF07IHRoZW4KICBlY2hvICIkT1VUUFVUIgogIGVjaG8gIltFUlJPUl0gcnZzIGNvbW1hbmQgZmFpbGVkIHdpdGggZXhpdCBjb2RlOiAkRVhJVF9DT0RFIgogIGV4aXQgMQpmaQoKZ3B1Q291bnQ9YHJvY20tc21pIHwgZ3JlcCAnXlswLTldJyB8d2MgLWxgClNUQVJUPTEKRU5EPTExCkFMTF9QQVNTPXRydWUKZm9yIGkgaW4gJChzZXEgJFNUQVJUICRFTkQpOyBkbwogICAgUEFUVEVSTj0ibWVtIFRlc3QgJGkgOiBQQVNTIgogICAgQ09VTlQ9JChlY2hvICIkT1VUUFVUIiB8IGdyZXAgLWMgIiRQQVRURVJOIikKICAgIGlmIFsgJENPVU5UIC1sdCAkZ3B1Q291bnQgXTsgdGhlbgoJZWNobyAiW0VSUk9SXSAnJFBBVFRFUk4nIG9ubHkgYXBwZWFyZWQgJENPVU5UIHRpbWVzLCBsZXNzIHRoYW4gcmVxdWlyZWQgJGdwdUNvdW50LiIKICAgICAgICBBTExfUEFTUz1mYWxzZQoJYnJlYWsKICAgIGZpCmRvbmUKCmlmIFsgIiRBTExfUEFTUyIgPSB0cnVlIF07IHRoZW4KICAgIGVjaG8gIltTVUNDRVNTXSBBbGwgbWVtIHRlc3RzIGZyb20gJFNUQVJUIHRvICRFTkQgcGFzc2VkLiIKICAgIGV4aXQgMAplbHNlCiAgICBlY2hvICJbRkFJTFVSRV0gU29tZSBtZW0gdGVzdHMgZGlkIG5vdCBwYXNzLiIKICAgIGV4aXQgMQpmaQo=
