apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: rvs-gpu-memory
  labels:
    primus-safe.display.name: "rvs-gpu-memory"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  type: validation
  category: System
  gpuChip: amd
  description: Use the command "rvs -c mem.conf" to test the GPU memory for hardware errors and soft errors
  extensions:
    action: ZHBrZyAtbCB8IGdyZXAgLXEgcm9jbS12YWxpZGF0aW9uLXN1aXRlCmlmIFsgJD8gLW5lIDAgXTsgdGhlbgogIGFwdC1nZXQgdXBkYXRlCiAgYXB0IGluc3RhbGwgLXkgcm9jbS12YWxpZGF0aW9uLXN1aXRlCiAgaWYgWyAkPyAtbmUgMCBdOyB0aGVuCiAgICBlY2hvICJbRVJST1JdIGZhaWxlZCB0byBpbnN0YWxsIHJvY20tdmFsaWRhdGlvbi1zdWl0ZSIKICAgIGV4aXQgMQogIGZpIApmaQoKZXhwb3J0IFBBVEg9JFBBVEg6L29wdC9yb2NtL2JpbgpleHBvcnQgUlZTX0NPTkY9L29wdC9yb2NtL3NoYXJlL3JvY20tdmFsaWRhdGlvbi1zdWl0ZS9jb25mCk9VVFBVVD0kKHJ2cyAtYyAiJHtSVlNfQ09ORn0vbWVtLmNvbmYiIC1sIG1lbS50eHQgMj4mMSkKRVhJVF9DT0RFPSQ/CmlmIFsgJEVYSVRfQ09ERSAtbmUgMCBdOyB0aGVuCiAgZWNobyAiW0VSUk9SXSBydnMgY29tbWFuZCBmYWlsZWQgd2l0aCBleGl0IGNvZGU6ICRFWElUX0NPREUiCiAgZWNobyAiJE9VVFBVVCIKICBleGl0IDEKZmkKCmdwdUNvdW50PWByb2NtLXNtaSB8IGdyZXAgJ15bMC05XScgfHdjIC1sYApTVEFSVD0xCkVORD0xMQpBTExfUEFTUz10cnVlCmZvciBpIGluICQoc2VxICRTVEFSVCAkRU5EKTsgZG8KICAgIFBBVFRFUk49Im1lbSBUZXN0ICRpIDogUEFTUyIKICAgIENPVU5UPSQoZWNobyAiJE9VVFBVVCIgfCBncmVwIC1jICIkUEFUVEVSTiIpCiAgICBpZiBbICRDT1VOVCAtbHQgJGdwdUNvdW50IF07IHRoZW4KCWVjaG8gIltFUlJPUl0gJyRQQVRURVJOJyBvbmx5IGFwcGVhcmVkICRDT1VOVCB0aW1lcywgbGVzcyB0aGFuIHJlcXVpcmVkICRncHVDb3VudC4iCiAgICAgICAgQUxMX1BBU1M9ZmFsc2UKCWJyZWFrCiAgICBmaQpkb25lCgppZiBbICIkQUxMX1BBU1MiID0gdHJ1ZSBdOyB0aGVuCiAgICBlY2hvICJbU1VDQ0VTU10gQWxsIG1lbSB0ZXN0cyBmcm9tICRTVEFSVCB0byAkRU5EIHBhc3NlZC4iCiAgICBleGl0IDAKZWxzZQogICAgZWNobyAiW0ZBSUxVUkVdIFNvbWUgbWVtIHRlc3RzIGRpZCBub3QgcGFzcy4iCiAgICBleGl0IDEKZmkK