apiVersion: amd.com/v1
kind: AddonTemplate
metadata:
  name: transfer-bench-a2a
  labels:
    primus-safe.display.name: "transfer-bench-a2a"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  type: validation
  category: System
  gpuChip: amd
  gpuProduct: MI300X
  description: Use the command "TransferBench a2a" to measure the data transfer rates between each GPU and all connected GPUs.
  extensions:
    action: UkVQT19VUkw9Imh0dHBzOi8vZ2l0aHViLmNvbS9ST0NtL1RyYW5zZmVyQmVuY2guZ2l0IgpESVJfTkFNRT0iVHJhbnNmZXJCZW5jaCIKaWYgWyAhIC1kICIkRElSX05BTUUiIF07IHRoZW4KICBnaXQgY2xvbmUgIiRSRVBPX1VSTCIKICBpZiBbICQ/IC1uZSAwIF07IHRoZW4KICAgIGVjaG8gIltFUlJPUl06IGZhaWxlZCB0byBjbG9uZSAkUkVQT19VUkwiCiAgICBleGl0IDEKICBmaQpmaQpjZCAiJERJUl9OQU1FIiB8fCB7IGVjaG8gIltFUlJPUl06IHVuYWJsZSB0byBhY2Nlc3MgJERJUl9OQU1FIjsgZXhpdCAxOyB9CkNDPWhpcGNjIG1ha2UgPiAvZGV2L251bGwgMj4mMQppZiBbICQ/IC1uZSAwIF07IHRoZW4KICBlY2hvICJbRVJST1JdOiBmYWlsZWQgdG8gbWFrZSIKICBleGl0IDEKZmkKCkxPR19GSUxFPSIvdG1wL3RyYW5zZmVyX2EyYS5sb2ciCi4vVHJhbnNmZXJCZW5jaCBhMmEgPiRMT0dfRklMRSAyPiYxCkVYSVRfQ09ERT0kPwppZiBbICRFWElUX0NPREUgLW5lIDAgXTsgdGhlbgogIGVjaG8gIltFUlJPUl06IFRyYW5zZmVyQmVuY2ggZmFpbGVkIHdpdGggZXhpdCBjb2RlOiAkRVhJVF9DT0RFIgogIGVjaG8gIiRPVVRQVVQiCiAgcm0gLWYgJExPR19GSUxFCiAgZXhpdCAxCmZpCgpsaW5lPWBncmVwIC1FICdBdmVyYWdlW1s6c3BhY2U6XV0rYmFuZHdpZHRoJyAiJExPR19GSUxFImAKYmFuZHdpZHRoPSQoZWNobyAkbGluZSB8IGF3ayAne3ByaW50ICQ1fScpCnJtIC1mICRMT0dfRklMRQppZiBbWyAteiAiJGJhbmR3aWR0aCIgXV07IHRoZW4KICBlY2hvICJbRVJST1JdICRsaW5lLCBDb3VsZCBub3QgZXh0cmFjdCBiYW5kd2lkdGggdmFsdWUuIgogIGV4aXQgMQpmaQppZiAhIFtbICIkYmFuZHdpZHRoIiA9fiBeWzAtOV0rKFwuWzAtOV0rKT8kIF1dOyB0aGVuCiAgZWNobyAiW0VSUk9SXSBFeHRyYWN0ZWQgYmFuZHdpZHRoIHZhbHVlIGlzIG5vdCBhIHZhbGlkIG51bWJlcjogJGJhbmR3aWR0aCIKICBleGl0IDEKZmkKcmVzdWx0PSQoZWNobyAiJGJhbmR3aWR0aCA8IDMyLjkiIHwgYmMgLWwpCmlmIFtbICIkcmVzdWx0IiAtZXEgMSBdXTsgdGhlbgogIGVjaG8gIltFUlJPUl06IGF2ZXJhZ2UgYmFuZHdpZHRoIGlzIGxlc3MgdGhhbiAzMi45IChjdXJyZW50OiAkYmFuZHdpZHRoKSIKICBleGl0IDEKZmkKZWNobyAiW1NVQ0NFU1NdOiB0cmFuc2ZlciBiZW5jaCBhMmEgcGFzc2VkIgpleGl0IDAK