#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-apiserver
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: {{ .Release.Name }}-apiserver
  ports:
    - protocol: TCP
      port: {{ default 8088 (default .Values.apiserver).port }}
      targetPort: {{ default 8088 (default .Values.apiserver).port }}
      nodePort: {{ default 32495 (default .Values.apiserver).node_port }}
      name: http-port
    {{- if .Values.ssh.enable }}
    - protocol: TCP
      port: {{ default 2222 (default .Values.ssh).port }}
      targetPort: {{ default 2222 (default .Values.ssh).port }}
      name: ssh-port
    {{- end }}
  type: NodePort
