{{- if and (eq (include "primus-lens.management.enabled" .) "true") .Values.management.grafana.enabled }}
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaFolder
metadata:
  name: {{ include "primus-lens.fullname" . }}-folder-general
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "primus-lens.labels" . | nindent 4 }}
spec:
  instanceSelector:
    matchLabels:
      {{- include "primus-lens.selectorLabels" . | nindent 6 }}
  title: "General"

---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaFolder
metadata:
  name: {{ include "primus-lens.fullname" . }}-folder-kubernetes
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "primus-lens.labels" . | nindent 4 }}
spec:
  instanceSelector:
    matchLabels:
      {{- include "primus-lens.selectorLabels" . | nindent 6 }}
  title: "Kubernetes"

---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaFolder
metadata:
  name: {{ include "primus-lens.fullname" . }}-folder-middleware
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "primus-lens.labels" . | nindent 4 }}
spec:
  instanceSelector:
    matchLabels:
      {{- include "primus-lens.selectorLabels" . | nindent 6 }}
  title: "Middleware"

---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaFolder
metadata:
  name: {{ include "primus-lens.fullname" . }}-folder-node
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "primus-lens.labels" . | nindent 4 }}
spec:
  instanceSelector:
    matchLabels:
      {{- include "primus-lens.selectorLabels" . | nindent 6 }}
  title: "Node"
{{- end }}

