{{- if and .Values.opensearch.enable (or (empty .Values.opensearch.username) (empty .Values.opensearch.password)) }}
apiVersion: batch/v1
kind: Job
metadata:
  # copy secret for opensearch use
  name: copy-opensearch-secret
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: "before-hook-creation,hook-succeeded"
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  template:
    spec:
      activeDeadlineSeconds: 300
      restartPolicy: Never
      serviceAccountName: secret-manager
      containers:
        - name: copy-secret
          image: docker.io/primussafe/kubectl:latest
          securityContext:
            runAsUser: 0
          command:
            - sh
            - -c
            - |
              set -e
              
              SECRET_NAME={{ .Values.opensearch.secret }}
              SOURCE_NAMESPACE={{  .Values.opensearch.secret_namespace }}
              TARGET_NAMESPACE={{ .Release.Namespace }}

              if kubectl get secret "${SECRET_NAME}" -n "${TARGET_NAMESPACE}" -o name >/dev/null 2>&1; then
                  echo "Info: Secret '${SECRET_NAME}' already exist in namespace '${TARGET_NAMESPACE}'"
                  exit 0
              fi
              
              kubectl get secret "${SECRET_NAME}" -n "${SOURCE_NAMESPACE}" > /dev/null 2>&1 || {
                  echo "Error: Secret '${SECRET_NAME}' does not exist in namespace '${SOURCE_NAMESPACE}'"
                  exit 1
              }

              kubectl get secret "${SECRET_NAME}" -n "${SOURCE_NAMESPACE}" -o yaml >apply.yaml
              yq e '.metadata.namespace = "{{ .Release.Namespace }}"' -i apply.yaml
              yq e '.metadata.annotations."meta.helm.sh/release-name" = "{{ .Release.Name }}"' -i apply.yaml
              yq e '.metadata.annotations."meta.helm.sh/release-namespace" = "{{ .Release.Namespace }}"' -i apply.yaml
              yq e 'del(.metadata.annotations["kubectl.kubernetes.io/last-applied-configuration"])' -i apply.yaml
              yq e 'del(.metadata.annotations["banzaicloud.com/last-applied"])' -i apply.yaml
              yq e 'del(.metadata.uid)' -i apply.yaml
              yq e 'del(.metadata.resourceVersion)' -i apply.yaml
              yq e 'del(.metadata.creationTimestamp)' -i apply.yaml
              yq e 'del(.metadata.ownerReferences)' -i apply.yaml
              kubectl -n ${TARGET_NAMESPACE} apply -f apply.yaml
        
              echo "Copy ${SECRET_NAME} from ${SOURCE_NAMESPACE} to namespace ${TARGET_NAMESPACE} successfully"
              exit 0
{{- end }}