{{- if .Values.crypto.enable }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-gen-crypto
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": "pre-install"
    "helm.sh/hook-delete-policy": "before-hook-creation,hook-succeeded"
spec:
  template:
    metadata:
      labels:
        app: random-secret-generator
    spec:
      activeDeadlineSeconds: 300
      restartPolicy: OnFailure
      serviceAccountName: {{ .Release.Name }}-manager
      containers:
        - name: generate-key
          image: bitnami/kubectl:latest
          securityContext:
            runAsUser: 0
          command:
            - sh
            - -c
            - |
              set -e
              if kubectl -n {{ .Release.Namespace }} get secret {{ .Release.Name }}-crypto > /dev/null 2>&1; then
                echo "Secret already exists. Skipping password generation."
                exit 0
              fi

              PASSWORD=$(head /dev/urandom | tr -dc A-Za-z0-9 | head -c 16)
              echo "$PASSWORD" | base64 > /tmp/password.b64

              cat <<EOF > /tmp/secret.yaml
              apiVersion: v1
              kind: Secret
              metadata:
                name: {{ .Release.Name }}-crypto
                namespace: {{ .Release.Namespace }}
              type: Opaque
              data:
                key: $(cat /tmp/password.b64)
              EOF

              kubectl apply -f /tmp/secret.yaml
              echo "create crypto secret successfully"
{{- end }}