#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

apiVersion: batch/v1
kind: Job
metadata:
  name: generate-crypto-secret
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: "before-hook-creation,hook-succeeded"
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  template:
    metadata:
      labels:
        app: random-secret-generator
    spec:
      activeDeadlineSeconds: 300
      restartPolicy: OnFailure
      serviceAccountName: secret-manager
      {{- if .Values.global.image_pull_secret }}
      imagePullSecrets:
        - name: {{ .Values.global.image_pull_secret }}
      {{- end }}
      containers:
        - name: generate-key
          image: {{ .Values.global.image_registry }}/primussafe/kubectl:latest
          securityContext:
            runAsUser: 0
          command:
            - sh
            - -c
            - |
              set -e
              if kubectl -n {{ .Release.Namespace }} get secret {{ .Release.Name }}-crypto > /dev/null 2>&1; then
                echo "Secret already exists. Skipping password generation."
                exit 0
              fi
              head /dev/urandom | tr -dc A-Za-z0-9 | head -c 16 | base64 > /tmp/password.b64

              cat <<EOF > /tmp/secret.yaml
              apiVersion: v1
              kind: Secret
              metadata:
                name: {{ .Release.Name }}-crypto
                namespace: {{ .Release.Namespace }}
                annotations:
                  meta.helm.sh/release-name: {{ .Release.Name }}
                  meta.helm.sh/release-namespace: {{ .Release.Namespace }}
              type: Opaque
              data:
                key: $(cat /tmp/password.b64)
              EOF

              kubectl apply -f /tmp/secret.yaml
              echo "create crypto secret successfully"
              exit 0