#
# Copyright (C) 2025-2025, Advanced Micro Devices, Inc. All rights reserved.
# See LICENSE for license information.
#

{{- if and .Values.notification .Values.notification.email .Values.notification.email.smtp_host }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-notification
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  config: |
    {
      "email": {
        "smtp_host": "{{ .Values.notification.email.smtp_host }}",
        "smtp_port": {{ .Values.notification.email.smtp_port }},
        "username": "{{ .Values.notification.email.username }}",
        "password": "{{ .Values.notification.email.password }}",
        "from": "{{ .Values.notification.email.from }}",
        "use_tls": {{ .Values.notification.email.use_tls }}
      }
    }
{{- end }}
