- hosts: all
  vars:
    workspace: '{{ workspace | default(/opt/primus-bench) }}'
  tasks:
    - name: Collect all node IPs from inventory
      set_fact:
        nodes: "{{ groups['all'] | list }}"
    - name: Run Bare Metal bench
      shell: |
        echo zhanglei
        NNODES={{ nodes | length }} 
        WORLD_SIZE={{ nodes | length }} 
        LOCAL_WORLD_SIZE={{ nodes | length }} 
        RANK={{ nodes.index(inventory_hostname) }} 
        LOCAL_RANK={{ nodes.index(inventory_hostname) }} 
        NODE_RANK={{ nodes.index(inventory_hostname) }} 
        MASTER_ADDR={{ nodes | first }} 
        MASTER_PORT={{ master_port}} 
        SSH_PORT={{ ssh_port }}
        echo $SSH_PORT
        echo {{ primus_bench_path }}
        docker rm -f primusbench
        docker run -itd --name=primusbench \
          --privileged --ipc=host --network=host\
          --security-opt seccomp=unconfined --group-add video \
          --device=/dev/kfd --device=/dev/dri --cap-add=SYS_PTRACE \
          --shm-size=16G \
          --env NNODES=$NNODES \
          --env WORLD_SIZE=$WORLD_SIZE \
          --env LOCAL_WORLD_SIZE=$LOCAL_WORLD_SIZE \
          --env RANK=$RANK \
          --env LOCAL_RANK=$LOCAL_RANK \
          --env NODE_RANK=$NODE_RANK \
          --env MASTER_ADDR=$MASTER_ADDR \
          --env MASTER_PORT=$MASTER_PORT \
          --env SSH_PORT={{ ssh_port }} \
          --env NCCL_SOCKET_IFNAME=eno0 \
          --env GLOO_SOCKET_IFNAME=eno0 \
          --env NCCL_IB_HCA=rdma0,rdma1,rdma2,rdma3,rdma4,rdma5,rdma6,rdma7 \
          --env NCCL_IB_TIMEOUT=23 \
          --env NCCL_IB_RETRY_CNT=11 \
          --env NCCL_IB_GID_INDEX=3 \
          --env TIMESTMAP={{ timestmap }} \
          $( [ -n {{ primus_bench_path }} ] && echo "-v {{ primus_bench_path }}:/opt/primusbench" ) \
          {{ image }}  /bin/bash -c "bash run.sh"
    - name: Primus bench logs
      shell: docker logs -f primusbench > {{ primus_bench_path }}/outputs/{{ timestmap }}/primusbench.log
      run_once: true 