apiVersion: v1
data:
  config.yaml: |
    global:
      enable_crypto: {{ .Values.crypto.enable }}
      crypto_key: {{ .Values.crypto.mount_path }}/key
      rdma_name: {{ .Values.net.rdma_name }}
    health_check:
      enable: {{ .Values.k8s.enable_health_check }}
      port: {{ .Values.job_manager.health_port }}
    leader_election:
      enable: {{ .Values.k8s.enable_leader_election }}
      lock_namespace: "{{ .Release.Namespace }}"
    workspace:
      mem_reserve_percent: {{ .Values.workspace.mem_reserve_percent }}
      cpu_reserve_percent: {{ .Values.workspace.cpu_reserve_percent }}
      ephemeral_store_reserve_percent: {{ .Values.workspace.ephemeral_store_reserve_percent }}
    workload:
      max_ephemeral_store_percent: {{ .Values.workload.max_ephemeral_store_percent }}
      enable_failover: true
      hang_check_interval: 1200
    ssh:
      enable: {{ .Values.ssh.enable }}
      config_path: {{ .Values.ssh.mount_path }}
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-job-manager
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
