apiVersion: v1
data:
  config.yaml: |
    global:
      enable_crypto: {{ .Values.crypto.enable }}
      crypto_key: {{ .Values.crypto.path }}/key
    health_check:
      enable: true
      port: 8083
    leader_election:
      enable: true
      lock_namespace: "{{ .Release.Namespace }}"
    workspace:
      mem_reserve_percent: {{ .Values.workspace.mem_reserve_percent }}
      cpu_reserve_percent:  {{ .Values.workspace.cpu_reserve_percent }}
      ephemeral_store_reserve_percent: {{ .Values.workspace.ephemeral_store_reserve_percent }}
    workload:
      max_ephemeral_store_percent: {{ .Values.workload.max_ephemeral_store_percent }}
      enable_failover: true
      hangcheck_second: 1200
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-job-manager
  namespace: {{ .Release.Namespace }}
