apiVersion: v1
data:
  config.yaml: |
    global:
      rdma_name: {{ .Values.net.rdma_name }}
    health_check:
      enable: {{ default true (default .Values.k8s).enable_health_check }}
      port: {{ default 8083 (default .Values.job_manager).health_port }}
    leader_election:
      enable: true
      lock_namespace: "{{ .Release.Namespace }}"
    workspace:
      mem_reserve_percent: {{ default 0.02 (default .Values.workspace).mem_reserve_percent }}
      cpu_reserve_percent: {{ default 0.06 (default .Values.workspace).cpu_reserve_percent }}
      ephemeral_store_reserve_percent: {{ default 0.1 (default .Values.workspace).ephemeral_store_reserve_percent }}
    workload:
      max_ephemeral_store_percent: {{ default 0.6 (default .Values.workload).max_ephemeral_store_percent }}
      enable_failover: true
      hang_check_interval: 1200
    ssh:
      enable: {{ .Values.ssh.enable }}
      config_path: {{ default "/etc/secrets/ssh" (default .Values.ssh).mount_path }}
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-job-manager
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
